[2019-11-25 14:42] niclasb opened #3 "How to add the example platforms to Vitis?"
How do you add the required platforms to Vitis to be able to run the examples?

ERROR: [v++ 60-1258] No valid platform was found that matches 'zcu102_base'. Please make sure that the platform is specified correctly, and the platform has the right version number. The platform repo paths are:
	/xilinx/Vitis/2019.2/platforms
The valid platforms found from the above repo paths are:
	/xilinx/Vitis/2019

[2019-12-03 11:52] niclasb commented on #3
I think I understand what went wrong now. The DEVICE argument should be a full path instead of just a devicename. Setting the argument like this solved the above problem: DEVICE=/xilinx/vitis/zcu102_base/zcu102_base.xpfm

[2019-12-17 09:27] gkrislara commented on #3
I am new to Vitis and I have a similar issue
I downloaded alveo U200 target platform in ubuntu 16.04 but i couldnt find .xpfm file or directory containing it. I dont know where I am going wrong
and if at all I need to change the DEVICE argument , where will it be?

[2019-12-18 10:44] gkrislara opened #6 "Gprof"
I followed all steps given in convolution tutorial executed the executable file convolve as given but while executing the gprof command
gprof convolve gmon.out> gprofresult.txt
I get this
gmon.out: No such file or directory

Where I am going wrong?

[2019-12-18 11:07] gkrislara commented on #6
problem resolved:
I  modified the following code in  makefile from
CXX_FLAGS= -std=c++0x -O3
LD_FLAGS= -O3

to
CXX_FLAGS= -pg -std=c++0x -O3
LD_FLAGS= -pg -O3

it worked!!

[2019-12-18 11:07] #6 closed

[2019-12-21 06:17] Ssicayoon commented on #3
Are you able to do sw/hw_emulation of zcu102 on host (x86_64)?
I can only test the actual performance by inserting SD card to zcu102, but no emulation on host.

[2020-01-14 09:54] kaoriuky opened #7 "How can I get vadd.cpp file?"
Hi, I'm just tried Vitis-Tutorials for
getting-started-rtl-kernels.
And Finally I get the xml from VITIS IDE and make XO files, however,
final step, build the Project section. I meet a problem.
my  Vitis  IDE Problems console makes 2 warnings as follow.
  1. No binary containers were found.
   2. No host source files were found.

Actually, to create binary container, I cannot understand select ico

[2020-01-17 09:04] Ssicayoon commented on #7
Hi, kaoriuky
You can try the beginner tutorial [develop accelerated applications using the Vitis™ core development kit](https://github.com/Xilinx/Vitis-Tutorials/tree/master/docs/vitis-getting-started) to start your trip.
_**Getting-started-rtl-kernels**_ is an intermediate tutorial.

In addition, you need to _**git clone**_ the repository [Vitis-Tutorials](https://github.com/Xilinx/Vitis-Tutorial

[2020-05-03 23:08] luyufan498 opened #8 "(solved) Why no Vadd_A.sv in the folder"
![image](https://user-images.githubusercontent.com/6166841/80928215-64465680-8d9b-11ea-84e6-c69af3f52ed1.png)

Ok, I found it.  It is “Vadd_A_B_example_vadd.sv”

[2020-05-03 23:12] luyufan498 commented on #8
I saw a module called Vadd_A is used in Vadd_A_B_example.sv.
Did I miss something ?

[2020-05-04 00:57] #8 closed

[2020-05-28 01:57] dharawolvpatel opened #9 "unable to run hw_emu"
Building these tutorials works fine when using sw_emu. But I'm unable to build these applications using hw_emu. I always get the following errors:
![image](https://user-images.githubusercontent.com/54337299/83089731-e6006b80-a04b-11ea-977a-6faa64e0f1e2.png)

[2020-05-28 02:53] Ssicayoon commented on #9
I note that your run directory is not `makefile`.
[Run Hardware Emulation](https://github.com/Xilinx/Vitis-Tutorials/blob/master/docs/bloom/baseline_fpga.md#run-hardware-emulation) gives the command to run hw_emu.
Try it and see whether it works.

[2020-05-28 15:01] dharawolvpatel commented on #9
the directory I'm running "make" is the following:
/home/dharap/xilinx/Vitis-Tutorials/Vitis-Tutorials/docs/bloom/design/makefile

[2020-05-28 15:22] Ssicayoon commented on #9
@dharawolvpatel
Have you installed the platform `xilinx_u200_xdma_201830_2` after your installation of Vitis?

[2020-05-28 17:56] dharawolvpatel commented on #9
yes, its there! sw_emu works fine with it.

[2020-05-29 08:45] Ssicayoon commented on #9
@dharawolvpatel
I have tried the `bloom` tutorial and no error occurs.
Notice that for [Kernel Code Modifications](https://github.com/Ssicayoon/Vitis-Tutorials/blob/master/docs/bloom/baseline_fpga.md#kernel-code-modifications), I copy `computer_score_fpga.cpp` and `compute_score_host.cpp` in `/design/refernce_files/baseline_fpga` to `/design/src/baseline_fpga`.
Have a try.

[2020-06-01 02:41] ryanvergel commented on #9
Thank you for your input. I will create an internal ticket so that the Author can review this issue.

[2020-06-30 20:12] cgabrielsonxlnx opened #10 "Typos in my-first-program/profile_debug.md"
Step 6 says, "Notice that the highlighted calls clProgramWithBinary, clEnqueueMigrateMemObjects and clEnqueueTask are consuming most of the application time."

No calls are highlighted in the preceding figure.  Either the figure should be edited to highlight content, or this sentence should be changed to drop mention to highlighting.

Also, clProgramWithBinary is called clCreateProgramWithBinary i

[2020-07-01 09:53] Morett07 opened #11 "rtl kernel wizard greyed out"
Hi,

I try to run one of your example on a zcu 104,

But I cannot start rtl kernel wizard.

Do you know how I can fix this ?

Thank you

[2020-07-14 18:32] jrjbertram opened #12 ""dlopen <path>/dltmp is failed" error message"
Hi,

I'm running into an issue trying to run software emulation mode for the zcu102 target.  The error message is:
[code]

Not quite sure what I've done wrong.  Have been following the instructions in this repo with the exception of adapting them for the zcu102 platform.  Any ideas?

Thanks,
- J.

In my ~/.bashrc:
[code]

My design.cfg:
[code]

Modified PLATFORM variable in run/Makefile:
[code]

P

[2020-08-02 01:12] yoshihorie opened #13 "Please recover the links to the Japanese documents urgently."
Hi, It seems the links to Japanese documents are all lost. Could you please recover them urgently as we are planning to use it as a reference for tutorial in a couple of days (August 4th Japan time). This is critical for us. Here are a partial list of the previous URL for Japanese documents. My email address is yoshihiro.horie@xilinx.com.

https://github.com/Xilinx/Vitis-Tutorials/tree/master/docs

[2020-08-02 02:10] yoshihorie commented on #13
Let me add a clarification that we need to recover the links to the Vitis 19.2 documents in Japanese.

Thank you.
Regards,
Horie

[2020-08-03 06:08] yoshihorie commented on #13
Japanese translation team is helping. You can close this issue now. Thank you.

[2020-08-03 06:08] #13 closed

[2020-10-14 02:58] cabreraam opened #15 "Convolution-Tutorial: Caught Exception during hw_emu build"
Before I start, I will note that I am using the Deployment Target Platofrm version:
`xilinx_u250_xdma_201830_2` on my Alveo U250.

When trying to run hardware emulation [in this step](https://github.com/Xilinx/Vitis-Tutorials/blob/master/docs/convolution-tutorial/baseline.md), I see the following log info:

[code]

I use `ctrl+c` to kill the process but then I don't get any profiling data when usi

[2020-11-04 23:00] JingchiZhang opened #16 "failed software emulation: ../../src/host.cpp:33:10: fatal error: vector: No such file or directory"
Hi. I need some help with the software emulation. I think I follow the instructions clearly for each step and I export the all the path/ However when I run the software emulation "aarch64-linux-gnu-g++ -Wall -g -std=c++11 ../../src/host.cpp -o app.exe -I${SYSROOT}/usr/include/xrt -L${SYSROOT}/usr/lib -lOpenCL -lpthread -lrt -lstdc++ --sysroot=${SYSROOT}", it keeps telling me:

../../src/host.cpp:3

[2020-11-10 21:50] tcxxxx opened #17 "Specific instructions on setting up SYSROOT and ROOTFS"
Hi,

Could you provide more specific instructions on setting up the variables SYSROOT and ROOTFS?
The [documentation](https://www.xilinx.com/html_docs/xilinx2020_1/vitis_doc/rvu1542160683426.html) is pretty vague about how to proceed.

For example, to set up the ZCU102 platform, I have downloaded the ZYNQ common image on this [page](https://www.xilinx.com/support/download/index.html/content/xilinx

[2020-11-11 10:12] imrickysu commented on #17
If you're using Vitis IDE, Vitis asks for SYSROOT, ROOTFS and Kernel when you create a system application.
https://www.xilinx.com/html_docs/xilinx2020_1/vitis_doc/creatingvitisideproject.html#ariaid-title3
Step 5

If you're using command line flow, you'll need to follow the makefile definition. For example in **_Vitis_Accel_Example -> Hellow World_**
https://github.com/Xilinx/Vitis_Accel_Examples/

[2020-11-12 20:57] tcxxxx commented on #17
Thank you very much!!

[2020-11-12 20:57] #17 closed

[2020-11-12 21:22] tcxxxx commented on #16
I ran into the problem of missing the `bits/c++config` header previously.
My solution was to first use the `locate` command to find the missing header file and then include the corresponding path in the make command.

Also, it should be ensured that the variable SYSROOT is set correctly.

[2020-11-17 06:10] La-tale opened #18 "Can't run in hw with examples of getting started with rtl kernels"
I follow the tutorial of getting started with RTL kernels.
It works fine until building and running example of tutorials in Emulation-HW.
Also it works fine for building example in HW.
However when I run example in HW, it get stucked like below picture.
![image](https://user-images.githubusercontent.com/42293986/99352757-82fadd80-28e6-11eb-9546-b9706deb064b.png)

So I should do xbutil reset for ru

[2020-11-18 07:28] TenzinCHW opened #19 "Missing step in packaging IP documentation"
In the `Hardware_Accelerators/Feature_Tutorials/01-rtl_kernel_workflow/package_ip.md` documentation, I have reached the "Check Integrity, Assign Properties, and Package IP" step where step 2 tells me to run the following commands in the Tcl console to "set these properties" with no reference to what "these properties" might mean.
[code]

Also, the above lines result in the error `can't read "core"

[2020-11-18 18:22] randyh62 commented on #19
You can change $core to [ipx::current_core] in your command lines, or use this command line prior to the lines in your example:
set core [ipx::current_core]

I will correct this in the published version.

[2020-11-19 10:22] TenzinCHW commented on #19
Alright thank you.

Can I ask how is `check_integrity` used? I tried it on the component.xml in the IP directory but it fails the integrity check.

Thank you very much for the help. I must also add that the documentation in the READMEs are well done because they give users step-by-step examples to follow and get started quickly, while the user guides seems to have much more information that may be

[2020-11-19 10:37] TenzinCHW commented on #19
Ok nvm I'm just missing the `ipx` in front of everything. For those who are looking for the answer the command will be `ipx::check_integrity [ipx::current_core]`

[2020-11-23 14:34] randyh62 commented on #18
ap_ctrl_chain is not supported in the RTL kernel. ap_ctrl_hs is the right protocol. We will correct this in the tutorial. Thank you.

[2020-11-24 02:45] tcxxxx opened #21 "HW_EMU (hardware emulation) errors in the Cholesky example (temporally solved)"
In the Cholesky example here ([`Vitis-Tutorials/Hardware_Accelerators/Introduction/03-Algorithm_Acceleration/docs/module1_baseline`](https://github.com/Xilinx/Vitis-Tutorials/tree/master/Hardware_Accelerators/Introduction/03-Algorithm_Acceleration/docs/module1_baseline)), running `make run TARGET=hw_emu` fails.
Meanwhile, running `make run TARGET=sw_emu` succeeds.

Specifically, the error informat

[2020-11-24 16:12] tcxxxx commented on #21
As a workaround to the problem, I changed [this line](https://github.com/Xilinx/Vitis-Tutorials/blob/master/Hardware_Accelerators/Introduction/03-Algorithm_Acceleration/docs/module1_baseline/src/test.cpp#L153) to `mext_io[0].flags = XCL_MEM_DDR_BANK1;`, and it worked:

![image](https://user-images.githubusercontent.com/19209239/100119835-4fb7d180-2e45-11eb-8492-830751267a4f.png)

The problem was t

[2020-11-24 16:12] tcxxxx commented on #21
I wonder why in the HW_EMU mode it by default uses DDR bank1 instead of DDR bank0?

[2020-11-24 16:15] tcxxxx commented on #21
I wonder why, in the HW_EMU mode, it by default uses DDR bank1 instead of DDR bank0, even when the code sets the XCL_MEM_DDR_BANK0 flag?

[2020-11-24 17:01] randyh62 commented on #21
I have run both sw_emu and hw_emu for the original code and was able to run both without problem. Can you retest the original files to see if there is another cause to your difficulties?

![cholesky_module1](https://user-images.githubusercontent.com/42045079/100127119-a1576080-2e33-11eb-8a44-a4a394f924fc.png)

[2020-11-24 21:10] tcxxxx commented on #21
@randyh62 Thank you! However, I am still running into the same issue when doing that in a completely new repo.
My environment: ubuntu 18.04, g++ 7.5.0, XRT build version: 2.8.0. What is your environment?
Maybe the problem only exists in certain environments.

![image](https://user-images.githubusercontent.com/19209239/100150978-7cccaa00-2e6e-11eb-9409-dff7583c2814.png)

The root cause is still the

[2020-11-25 04:27] La-tale commented on #18
Is it kernel problem??
Then could you let me know when ap_ctrl_chain is used?

[2020-11-25 14:46] randyh62 commented on #18
ap_ctrl_chain is the default for C/C++ kernels in Vitis compiler and Vitis HLS. In this tutorial, the RTL code only contains the signals for ap_ctrl_hs as described under _Hardware Interface Requirements_ in the [Introduction](https://github.com/Xilinx/Vitis-Tutorials/tree/master/Hardware_Accelerators/Feature_Tutorials/01-rtl_kernel_workflow). If your RTL code has the signals to support ap_ctrl_ch

[2020-12-02 04:29] beenleyi opened #24 "[XRT] WARNING: Profiling may contain incomplete information."
Hi, I am running the example in the tutorial https://github.com/Xilinx/Vitis-Tutorials/tree/master/Getting_Started/Vitis with u200.

I got this message after run app.exe
[code]

The Vitis environment variables have been set and I can run v++ anywhere, so I don't think the problem is the env.

And how about the XRT warning? Should I add clReleaseProgram() in the host.cpp?

Thanks a lot.

[2020-12-02 12:02] maik123456789 opened #25 "AttributeError: 'NoneType' object has no attribute 'shape'"
I am doing the yolov4 tutorial.

when I run the scripts gen_yolo_train_labels.sh I get this error.

I changed the paths of the train and annotations as it says. any help?

[2020-12-08 09:49] #25 closed

[2020-12-08 17:41] pedrombmachado commented on #25
That probably means that the path to the images/image name is wrong.That error is thrown by OpenCV when the image is not found.

[2020-12-16 00:54] #21 closed

[2020-12-16 01:01] tcxxxx opened #27 "[HLS] Disable Automatic Loop Optimizations"
As mentioned [in this tutorial here](https://github.com/Xilinx/Vitis-Tutorials/tree/master/Hardware_Accelerators/Introduction/03-Algorithm_Acceleration/docs/module2_pipeline), 'simple loops and inner loops (for nested loops) are automatically pipelined by the tool'.

I hope to know is there is any reference to the documentation about the pipelining optimizations automatically applied?
Is it possib

[2020-12-16 12:07] GkyHub commented on #16
I met the same problem.

Change SYSROOT to the extracted root file system, where there are folders like usr, root, lib, .... SYSROOT is where the compiler finds the necessary headers. I think the tutorial should give more information on how to set the variables ROOTFS and SYSROOT.

This is a little bit strange because I thought that sysroot should be the one I downloaded from the Xilinx website. B

[2020-12-16 14:10] nanortemis opened #28 "Custom platorm (PCIe based cards)"
Hi,

Is there any example / tutorial how to make a custom platform for a PCIe based card, for example KC705?

[2021-01-07 06:33] ykgot opened #32 "ERROR when build xo /03-rtl_stream_kernel_integration"
When I tried to build xo with the following comment for 03-rtl_stream_kernel_integration project, it had some ERRORs.
How to solve this?
Thanks!

make all_xo TARGET=hw PLATFORM=xilinx_u200_xdma_201830_2

ERROR: [v++ 214-160] in function 'alpha_mix': Local stream 'mixed_img.4' has conflict depth setting (xx/03-rtl_stream_kernel_integration/hw/alpha_mix.cpp:46:61)
ERROR: [v++ 214-160] in function 'a

[2021-01-15 10:23] Tarekro opened #35 "Issue: cannot find "Enable platform interfaces""
hi,

On point 5 in "Create Base Vivado Project from Preset" under the tutorial "Vitis-Tutorials/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/step1" I cannot find the "Platform interfaces" in the Window panel on my VIVADO 2020.2. Is someone has the same problem and he already fixed it? Any idea to find the platform window? I attached a screenshot of my environment.
![138843948_23597254136

[2021-01-17 04:46] hopesala opened #36 "Machine_Learning/Design_Tutorials/07-yolov4-tutorial quantize_yolov4.sh error"
my environment is
vai_q_tensorflow --version
**Vai_q_tensorflow v1.2.0 build for Tensorflow 1.15.2**

I am training my own dataset, all is good , I got yolov4-obj_final.weights from yolov4 darknet train process
and convert it to **yolov4-obj-new.h5** and **tf_model_obj.pb** files
in the quantize_yolov4.sh process, I place tf_calib.txt and val2017 folder at the right place and then

./quantize_yolo

[2021-01-17 04:51] hopesala commented on #36
@rwarmstr can you help me solve the problem, thanks very much!~

[2021-01-17 05:02] hopesala commented on #36
it is caused by the content path in the tf_calib.txt
solved~

[2021-01-17 05:02] #36 closed

[2021-01-18 01:01] hopesala opened #37 "07-yolov4-tutorial/scripts > ./compile_yolov4.sh error"
hello, I am using  vitis-ai 1.3 to try the tutorial 07-yolov4-tutorial, but when I execute compile_yolov4.sh the error bellow occurred, what could be the reason and how to solve it? thanks very much~

before the step execute compile_yolov4.sh, I have generated tf_model.pb and yolov4_quantized folder(containing deploy_model.pb quantize_eval_model.pb ) successfally.
besides, I have changed the compi

[2021-01-18 01:02] hopesala commented on #37
@rwarmstr can you help me find the possible reson for this error, big thanks~

[2021-01-20 07:16] shua1zhang commented on #37
Hi @hopesala , we will take a look on this. Thank you for the understanding.

[2021-01-20 18:37] fmanuelsg commented on #32
same issue on a working project build with 2020.1

[2021-01-21 02:15] imrickysu commented on #35
In Vivado 2020.2, "Platform Interfaces" is changed to "Platform Setup". But it's only available if your project is "extensible Vitis platform project" type. It can be enabled when you are creating a project, or after the project is created, select Settings in Flow Navigator -> General -> enable "Project is an extensible Vitis Platform".

We will publish 2020.2 version of this tutorial soon. Stay t

[2021-01-25 02:58] imrickysu commented on #35
Hi @Tarekro ,
2020.2 version is updated. Please check: https://github.com/Xilinx/Vitis-Tutorials/blob/master/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/step1.md

[2021-01-25 13:00] Tarekro commented on #35
Hi @imrickysu

Thanks for your help, I will check this new version;

[2021-02-09 10:20] andreaf2405 opened #40 "Segmentation faults on cpu_src in Hardware_accelerators/Introduction/03"
I get a segmentation fault at runtime on the baseline CPU program. Any clues?

[2021-02-17 13:09] vmayoral opened #41 "Help/intuition debugging vadd example (Getting_Started/Vitis), zocl-drm amba:zyxclmm_drm: swiotlb buffer is full"
Greetings,

First let me credit authors and maintainers for this repository. From the top of the list cheers for @xlinx-dachang, @rwarmstr and @f-rivo among others. Well done. I found the material very useful and the quality rather high. I'm excited about these tutorials and I believe many share the same vision. Maybe I'll get a chance to contribute in the future myself with some additional tutori

[2021-02-17 13:11] vmayoral commented on #41
In case it isn't obvious, reproducing the errors above should be pretty straightforward, it's just a matter of modifying https://github.com/Xilinx/Vitis-Tutorials/blob/master/Getting_Started/Vitis/example/src/host.cpp#L31 with the values discussed above.

[2021-02-18 03:03] beenleyi opened #42 "Can vai_q_pytorch support torch.autograd.Function's derived class called by forward function?"
I am doing a new deep learning algorithm research with my own torch.aotograd.Function derived class, but I met 'parsing failed(unsupported)' when quantizing with vitis-ai-pytorch. Does vitis-ai-pytorch support users' own autograd class, or does vitis-ai-pytorch support another class except the model class?

I got the following info:

[code]

And part of my code:

[code]

I call mem_update in my fo

[2021-02-18 14:57] rwarmstr commented on #42
Hi @beenleyi , the best person I have on the team to answer this is currently out of the office for the lunar new year, if you can wait a bit I'm happy to have them get back to you.

[2021-02-18 17:11] rwarmstr commented on #41
Hi @vmayoral , thanks for the feedback! I'll look into it but don't suspect initially that this is a problem with the driver, it may lie somewhere else. Just to double check, and in case there's any interaction, it looks like you're running this on an embedded platform. May I ask which one?

Thanks,
Rob

[2021-02-18 17:44] vmayoral commented on #41
Thanks for the reaction @rwarmstr! I'm using the ZCU102 but all the above was tested on emulation with the `hw_emu` build target.

[2021-02-18 18:16] f-rivo commented on #27
The PIPELINE option can be turned off locally, at the loop level using #pragma HLS pipeline off.
See more information here: https://www.xilinx.com/html_docs/xilinx2020_1/vitis_doc/hlspragmas.html#fde1504034360078.
Besides the web based documentation, the option is also described in the user guide: https://www.xilinx.com/support/documentation/sw_manuals/xilinx2020_2/ug1399-vitis-hls.pdf

[2021-02-18 19:52] #35 closed

[2021-02-18 21:08] tcxxxx commented on #27
Thank you very much the notes!
As my concern with this is fully resolved now, I also noticed [this page](https://www.xilinx.com/html_docs/xilinx2020_2/vitis_doc/vitis_hls_process.html#djn1584047476918) contains several default behaviors (including default loop optimizations) of Vitis HLS, which is very helpful.

[2021-02-18 21:08] #27 closed

[2021-02-19 13:56] MarchSakura opened #43 "JRE version is not right"
When I use make to compile the *sw_emu* example, terminal displayed a warning ```Vitis/2020.2/tps/lnx64/jre9.0.4 does not exist```. But my jre version is 11.0.2.
How to set JRE version correctly?
I've tried set the ```RDI_JAVAROOT``` environment value.

[2021-02-20 03:45] beenleyi commented on #42
Thank you so much, @rwarmstr .

I found that torch.gt is not supported too. I got the following info:
[code]
Any method to solve it?

Thank you all.

[2021-02-20 05:00] rwarmstr commented on #43
Hi @MarchSakura, it sounds like you probably have a larger installation issue, can you please post on the Xilinx forums for support? We aren't able to debug Vivado installation issues here. When you post please add information on your install OS, environment, etc.

Thanks!

https://forums.xilinx.com/t5/Installation-and-Licensing/bd-p/INSTALLBD

[2021-02-20 05:00] #43 closed

[2021-02-20 05:01] rwarmstr commented on #40
This is fairly common on machines with limited stack sizing, we just applied a patch to the repo to address it. Can you please try again?

[2021-02-20 05:02] #3 closed

[2021-02-20 05:02] #7 closed

[2021-02-20 05:03] #10 closed

[2021-02-20 05:03] rwarmstr commented on #11
I believe this is fixed, if you still see the issue please re-open.

[2021-02-20 05:03] #11 closed

[2021-02-20 05:04] rwarmstr commented on #28
Hi @nanortemis , we do not currently support the creation of custom PCIe acceleration platforms. Please stay tuned!

[2021-02-20 05:04] #28 closed

[2021-02-20 05:05] rwarmstr commented on #12
@jrjbertram Sincere apologies for the unreasonable delay responding on this issue. With the amount of passed time I'm going to close this out, but if you still have similar issues please do let us know.

[2021-02-20 05:05] #12 closed

[2021-02-20 05:05] #19 closed

[2021-02-20 05:06] rwarmstr commented on #15
@cabreraam Sincere apologies for the delay responding on this one, as you can see we've made pretty substantial changes to the tutorial structure. If you still see similar issues can you please re-open this?

Thanks!

[2021-02-20 05:06] #15 closed

[2021-02-20 05:09] rwarmstr commented on #32
These tutorials have this issue if you run 2020.1 tutorials on 2020.2 with Vitis HLS, the repos have since been updated. Please let us know if you still see this.

[2021-02-20 07:44] manuel-sanchez-nttdisruption commented on #32
2020.2

[2021-02-22 09:15] niuxjxlnx commented on #42
So far vai_q_pytorch does not support customized OP and function. But it was in plan of coming release.

[2021-02-23 14:32] beenleyi commented on #42
Thank you! @niuxjxlnx
How about the autograd derived class problem? Any information is of great help to me.

[2021-02-24 08:46] niuxjxlnx commented on #42
It is not in short term plan. Simple customized OP is base of it. And futher enhancement will be planned after the base become solid enough.

[2021-02-24 16:38] rwarmstr commented on #41
Hi @vmayoral , wanted to quickly check in with an update. It seems you've hit a genuine bug and it's going to take us a bit longer to debug than I thought! I'll keep you updated here; it may be a quick fix but we haven't gotten down to the root cause yet. For hardware emulation of embedded systems we have many components interacting (QEMU, the hardware simulator, XRT, etc) and it can sometimes tak

[2021-02-24 19:43] #9 closed

[2021-02-25 18:50] rwarmstr commented on #41
So, it turns out that the root cause here is kind of interesting (at least to me!). We're using the same memory allocation code in the host example for both data center and embedded devices, with the flag CL_MEM_ALLOCATE_HOST_PTR passed into the constructor for the cl::Buffers. On embedded systems, what I thought would happen is that it would allocate from the CMA pool whether you use that flag or

[2021-02-26 04:35] beenleyi commented on #42
Thank you so much.@niuxjxlnx

[2021-02-26 04:35] #42 closed

[2021-02-26 16:50] rwarmstr commented on #40
Hi @andreaf2405, since we haven't heard back from you and we believe the issue is resolved by commit b98e24bbf847778672cd5cc8f41cc4a60cede566 I'm going to go ahead and close this issue, but if you still have trouble please feel free to reopen it!

[2021-02-26 16:50] #40 closed

[2021-02-26 16:52] rwarmstr commented on #32
You'll see the issue if you build the 2020.1 tutorial branch on 2020.2. You should not see the issue if you build the 2020.2 branch on 2020.2. We also committed a patch yesterday against the 2020.1 branch that should resolve it, but please let us know if you continue to see difficulties.

[2021-02-26 16:52] #18 closed

[2021-02-26 16:52] #16 closed

[2021-02-26 16:56] andreaf2405 commented on #40
Thanks a lot for addressing it. I haven't had the chance to test it as of yet - I will get back to you in case it is still failing!

[2021-02-26 17:08] vmayoral commented on #41
Thanks a lot @rwarmstr for the reasoned answer. I made the suggested modifications and reproduced again the issues I was experiencing Tests pass. Provided I'm patient enough (262144 and higher gets you waiting a bit 😭 ) I can analyze the results which unblocks me.

Yeah, my bad. That was indeed my assumption.

Fantastic. Looking forward for next release then! All issues dealt from my end so feel f

[2021-02-26 17:28] rwarmstr commented on #41
Thanks! I'll close it.

[2021-02-26 17:28] #41 closed

[2021-03-02 17:16] rwarmstr commented on #24
Hi @beenleyi, I'm not seeing that on our end and am wondering if perhaps this might be an XRT installation issue. It has been some time though (and I apologize for that!), so for now I'll close this, but please re-open it or file a new issue if you continue to see it.

[2021-03-02 17:16] #24 closed

[2021-03-03 06:19] shua1zhang commented on #37
Hi @hopesala, sorry for the delayed reponse. Engineering team is still looking into the root cause and will let you know once finished.
Thank you for the understanding.

[2021-03-03 08:49] ThomasvdWerff opened #47 "Pre-synthesis Control Flow option not available when running C-simulation"
While working on the synth and analysis part of the Vitis HLS getting started tutorial I noticed that one of the options has been removed from the C simulation dialog. See the screenshot attached for comparison.

Tutorial:
![image](https://user-images.githubusercontent.com/38718720/109778818-8b60f500-7c05-11eb-8e21-9888725b14fc.png)

Current:
![image](https://user-images.githubusercontent.com/3871

[2021-03-03 08:55] shua1zhang commented on #37
Hi @hopesala ,
We notice there is some issue with the version of the tutorial as it's still using the vai 1.2. We will let author to update accordingly.
if you want to compile the model correctly in vai 1.3, the compiler will need to use the "quantized eval pb" file genereated by quantizer.
Also please check the new arch file path in VAI 1.3 docker according to UG1414.
Thank you.

[2021-03-03 15:31] randyh62 commented on #47
The images were taken from the Vitis HLS 2020.2 tool. Sometimes the dialog box is too small to display all the options. Can you see if you can expand the dialog box by making it longer?

[2021-03-03 15:39] ThomasvdWerff commented on #47
That's correct. I've tried expanding it as well but without any positive results. I've also tried to select the "ghost"-button a few times but that did not work either. It seems like it really disappeared from the dialog.

[2021-03-03 16:06] randyh62 commented on #47
![image](https://user-images.githubusercontent.com/42045079/109834588-361de700-7bf7-11eb-98cc-ce81a6929cac.png)

Here you can see I am running 2020.2 and it shows up. I don't think there is a setting to disable the option, but I will check into it a little further. Can you say what OS you are working with?

[2021-03-03 16:08] ThomasvdWerff commented on #47
Windows 10 Education, build 19042. Also thanks for your time.

[2021-03-04 00:21] randyh62 commented on #47
Still verifying, but it looks like it might be a limitation of the Windows build.

[2021-03-04 12:33] ThomasvdWerff commented on #47
I've received confirmation of the same problem on Windows 10 Pro, build 18363.  Both installations are no longer than a week or two old. On the education OS, I've also activated all the possible licenses. On the Pro version, only the following are activated: "Analyzer, HLS, V_WebPACK"

[2021-03-04 14:24] randyh62 commented on #47
I have confirmed this is a limitation of the Windows version. I will add this to the tutorial instructions. However, it looks like you will have to skip this part of the tutorial.  I will see if there are any other limitations we should be aware of, but please let us know of any other issues you may encounter.

[2021-03-05 08:38] daniperfer opened #48 "Are there a specific tutorial for a pytorch detection model?"
Hello,

I was able to successfully quantize and compile a pytorch classification network by following the instructions of the "[PyTorch flow for Vitis AI Tutorial](https://github.com/Xilinx/Vitis-Tutorials/blob/master/Machine_Learning/Design_Tutorials/09-mnist_pyt-master/README.md)" and the "Vitis AI [User Guide](https://www.xilinx.com/html_docs/vitis_ai/1_3/pytorch.html#nvh1592318322520)". These

[2021-03-14 02:59] HFTrader opened #50 "File not found common/xf_common.hpp when building Runtime_and_System_Optimization/Introduction/design_source/hw_src"
Just cloned the repository and was following the first tutorial on Runtime_and_System_Optimization/Introduction.
Edited the config.mk file that looks like
[code]

It looks like the file common/xf_common.hpp is missing?

[code]

[2021-03-14 03:22] HFTrader commented on #50
I just tried switching to the 2020.1 branch but the result is the same.

[2021-03-14 03:26] rwarmstr commented on #50
Do you see any files under the hw_src/Vitis_Libraries directory? If not, I suspect you may not have cloned with the --recurse-submodules flag and the Vitis Libraries aren't downloaded. You should be able to resolve it by running:

`git submodule init`

followed by

`git submodule update`

Please let me know if that works.

[2021-03-14 07:18] HFTrader commented on #50
You were correct. I did not provide the --recurse-submodules argument to the git clone command line.

[2021-03-14 07:18] #50 closed

[2021-03-17 07:12] satoru-i opened #53 "Accuracy drops to 0.1 on ZCU104 : Machine_Learning/Introduction/03-Basic/Module_4/DenseNetX"
Hi, I'm trying the tutorial of Machine_Learning/Introduction/03-Basic/Module_4.

After execution the command vai_c_tensorflow at the step6, copied the densenetx.model to ZCU104 board.
I executed 'python3 app_mt.py' at the step 7, the accuracy drops to 0.1 on the ZCU104 board.

`root@xilinx-zcu104-2020_2:~/target# python3 app_mt.py`
`Command line options:`
` --image_dir :  images`
` --threads   :

[2021-03-19 09:28] quyetvk opened #54 "Compile yolov4 with custom data set output no DPU graph"
Hello Xilinx's member

I tried to follow tutorial "Vitis-Tutorials/Machine_Learning/Design_Tutorials/07-yolov4-tutorial/" to execute Yolov4 to Ultra96v2.
I used custom dataset. I found that there is no graph in DPU.

[code]

Could you please tell me the reason?
Thank you very much!

[2021-03-19 19:35] m-kru opened #55 "Path to platforms"
In the introduction it is written:

What is the default path to platforms after default installation?
I wanted to create new Application Project, but there are no platforms to choose from:
![image](https://user-images.githubusercontent.com/26227737/111833501-8e8cfe00-88f2-11eb-9496-1c1262b17ebb.png)

[2021-03-21 00:05] imrickysu commented on #55
Default install path for Alveo platforms is /opt/xilinx/platforms
For embedded platforms, it can be extracted to any paths, including the path above. This path will be scanned by Vitis. If your platform is in this path, you won't need the PLATFORM_REPO_Paths environment variable.

[2021-03-21 09:22] shua1zhang commented on #54
Hi @quyetvk,
This issue is new and we haven't never met the similar case. Is it possile to proivde quantized model for us to check?

[2021-03-21 09:47] shua1zhang commented on #54
Hi @quyetvk,

I tried to figure out what could be the possible root cause.

I guess you are using Vitis AI 1.3 version and with Caffe conversion flow, is that correct?

As the tutorial is still in Vitis AI 1.2 version and update is undergoing, the quantization command here misses "-keep_fixed_neuron" flag which is newly required by 1.3 xmodel compiler. Please refer to [UG1414 caffe quantization](h

[2021-03-22 01:44] fanz-xlnx commented on #53
Hi Satoru,
Thanks for the question. The 0.1 is not the actual accuracy but due to a library mismatch in app_mt.py. The file will be updated and push to Github later today.

[2021-03-22 02:52] quyetvk commented on #54
@shua1zhang Thank you for your feedback.

I followed "3.2) Darknet Model Conversion" in https://github.com/Xilinx/Vitis-Tutorials/tree/master/Machine_Learning/Design_Tutorials/07-yolov4-tutorial
I upload the quantized model and shere here
https://1drv.ms/u/s!An1u2J7R7eeOgREf-OF4LLMXoRrt?e=4imR5e

Just note here, the error of invalid prototxt occurred related to duplicated bottom field:
[code]

So,

[2021-03-22 04:33] shua1zhang commented on #54
Hi @quyetvk,

By  "So, we tried to remove one duplicated row to solve the error. Then the compiling is successful. " you mean the compilation and execution on board are all successful with out adding "keep_fixed_neuron"?

For the last issue, is it corrsponding to the quantized model you uploaded?

Thank you.

[2021-03-22 04:45] quyetvk commented on #54
Hi @shua1zhang

The compilation is successful without adding "keep_fixed_neuron" but there is no graph on DPU as I described.

Yes, my upload for quantized model is for issue of no graph on DPU.

When we added "keep_fixed_neuron", quantizing is successful but compiling is failed as previous report. I did not upload quantized model for this case. If you need it, I will upload.

Thank you!

[2021-03-23 09:11] shua1zhang commented on #54
Hi @quyetvk ,
Yes please also upload the model quantized with "keep_fixed_neuron" but failed to compile.
Thank you.

[2021-03-24 05:05] quyetvk commented on #54
Hi @shua1zhang

I upload the model quantized with "keep_fixed_neuron" here.
https://1drv.ms/u/s!An1u2J7R7eeOgRL_1JcvCsGVTbu4?e=BChe6g

Best regards

[2021-03-25 05:22] satoru-i commented on #53
Hi fanz,
Thank you for updating the file.
I replaced the app_mt.py and executed on ZCU104 , but accuracy didn't change, 0.1.
Should I change some libraries or start over from the previous step?

[2021-03-28 09:00] hoadv-qh opened #58 "Custom on board *.prototxt file for custom yolov4 model"
Hi,

I'm trying to running my custom yolov4 model on Ultra96v2, but output boxes is not correct.
I could convert/quantize/compile my custom yolov4 model with Vitisi AI docker ver1.3.411.

After compiling, I got a *.xmodel. I based on below example to create my application on Ultra96v2 target.
* /usr/share/vitis_ai_library/samples/yolov4
* This is from vitis ai runtime 1.3

I reused yolov4_leaky_sp

[2021-03-29 02:27] fanz-xlnx commented on #53
Hi Satoru,

There is no need to change the library. I don't see this issue on my side. Would you please send me the quantize_eval_model.pb generated in Step 5 so I can reproduce the issue. Thanks. The file could be send to fanzhang@xilinx.com

[2021-04-01 14:29] danlg opened #60 "Core dump on AWS F1 running 02-MNIST_classification_tf example"
After having built everything successfully from step 0 to 7 from the tutorial ML/02-MNIST_classification_tf

But I want to run the xmodel on  AWS F1 f1.2xlarge, I get the errow below. Can you please confirm U50 is ok to run on  f1.2xlarge ottherise which target ?

(vitis-ai-tensorflow) Vitis-AI /workspace/build/target_u50 > /usr/bin/python3 app_mt.py -m model_dir/customcnn.xmodel
Command line opti

[2021-04-01 14:55] danlg commented on #60
@imrickysu @stsoe @markharvey

[2021-04-02 09:28] LinErDeng opened #61 "线程问题"
您好：
请问一下。为什么在使用./test_video_yolov3 dpu_yolov4_voc 0 -t4时，t无论是1还是4，检测的FPS都是一样的？

[2021-04-03 03:39] JianmingTONG opened #62 ".dtsi file for ultra96 v2"
Hi,

I have a question regarding the Vitis_Platform_Creation:
[code]
What should I fill for the .dtsi file of ultra96 v2.

[2021-04-06 02:02] fanz-xlnx commented on #61
您好，
这个dpu_yolov4_voc是您自己的模型吗？
我用发布ZCU04镜像中的例程测试：./test_video_yolov3 yolov3_voc 0 -t 4 或者 ./test_video_yolov3 yolov4_leaky_spp_m 0 -t 4均未能复现问题。修改线程数1或者4对帧率有显著影响。请问您的测试平台是什么？能否再具体描述一下测试的流程？

[2021-04-06 05:53] LinErDeng commented on #61
1.我时用只含单个类别的数据集训练网络，得到cfg和weights文件；
2.通过您这个包进行了bash scripts/darknet_convert.sh以及后续的量化和编译过程，得到elf文件；
3.将dpu_yolov4_voc.prototxt中的类别数改为1之后和得到的elf文件拷贝到了板子ZCU104上；
4.将yolov3_voc_accuracy.cpp中的类别也改成我自己的那一个类别，然后bash -x build.sh
5.最后运行./test_video_yolov3 dpu_yolov4_voc 0 -t4这个命令，在执行这个命令时，线程位1和4没有区别。

[2021-04-06 07:33] fanz-xlnx commented on #61
Vitis AI Library提供了三个级别的API供不同场景的需求使用。
test_video_yolov3中使用的是API1，也是封装程度最高的API，主要用于快速demo和展示。我们不建议用户用这个级别的API进行定制模型部署。
API2可能更适合您的使用场景（相同的模型框架，不同的训练集和类别），您可以参考Vitis-AI/demo/Vitis-AI-Library/samples/dpu_task/yolov3/demo_yolov3.cpp的例子来进行修改，*.prototxt并不适用于这一API类别。
关于详细的API定义及定制化模型部署流程，可以参考ug1354 https://www.xilinx.com/html_docs/vitis_ai/1_3/fub1606771871673.html

[2021-04-06 08:57] LinErDeng commented on #61
那这块类别应该怎么设置呢？假设我只有一个类别，ids直接写1吗？
vector<int> coco_id_map_dict() {
  vector<int> category_ids;
  category_ids = {1,  2,  3,  4,  5,  6,  7,  8,  9,  10, 11, 13, 14, 15,
                  16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 31, 32,
                  33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47,
                  48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61,

[2021-04-07 02:08] fanz-xlnx commented on #61
不是的，你要找到你训得那一类对应的id是多少。
如果你用的是coco的数据集，那么可以参考这个https://github.com/tensorflow/models/blob/master/research/object_detection/data/mscoco_label_map.pbtxt

[2021-04-09 12:30] LinErDeng commented on #61
您好，无论我用哪个模型测./test_video_XXX ，都只有4.3FPS，会不会因为测试的时候屏幕上保留这样的警告：
** (test_video_yolov3:1023): CRITICAL **: 12:25:04.536: gst_v4l2_object_destroy: assertion 'v4l2object != NULL' failed

** (test_video_yolov3:1023): CRITICAL **: 12:25:05.013: gst_v4l2_object_destroy: assertion 'v4l2object != NULL' failed

(test_video_yolov3:1023): GStreamer-CRITICAL **: 12:25:10.202: gst_element_get_state: assertion 'G

[2021-04-09 12:31] LinErDeng commented on #61
您好，无论我用哪个模型测./test_video_XXX ，都只有4.3FPS，会不会因为测试的时候屏幕上出现这样的警告：
** (test_video_yolov3:1023): CRITICAL **: 12:25:04.536: gst_v4l2_object_destroy: assertion 'v4l2object != NULL' failed

** (test_video_yolov3:1023): CRITICAL **: 12:25:05.013: gst_v4l2_object_destroy: assertion 'v4l2object != NULL' failed

(test_video_yolov3:1023): GStreamer-CRITICAL **: 12:25:10.202: gst_element_get_state: assertion 'G

[2021-04-12 16:43] nimaomidsajedi opened #64 "Accuracy drops to 0.098 on ZCU102 : Machine_Learning/Design_Tutorials/02-MNIST_classification_tf"
Hello. I am trying to deploy MNIST classification example on ZCU102 board but the accuracy drops to 0.098. Can you please consider this issue?

![graph_acc_MINST_2](https://user-images.githubusercontent.com/56468728/114430706-029f8680-9bbf-11eb-8c29-94b60ecc076f.png)

[2021-04-13 04:04] shua1zhang commented on #54
Hi @quyetvk ,
The tutorial is fully updated to VAI 1.3 version. The issue you met should all be solved.

[2021-04-14 08:42] quyetvk commented on #54
Hi @shua1zhang
Thank you for your information.
But unfortunately, I have not yet compiled successfully.  I updated docker image to latest and use latest tutorial but I got the error when compiling:

[code]

Some one said in "https://github.com/Xilinx/Vitis-AI/issues/346" the issue may be related to calib data in quantization. So, I am asking him. If you have idea, please let me know.

Best regards

[2021-04-15 06:56] imrickysu commented on #62
For the reference [dtsi ](https://github.com/Xilinx/Vitis-Tutorials/blob/master/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/ref_files/step2_petalinux/system-user.dtsi)provided in the sample code,

- bootargs, zocl and axi_intc_0 nodes can be kept same.
- sdhci1 is not needed.
- Other Ultra96 specific device tree changes need to refer to Ultra96 doc.

[2021-04-15 07:25] vivianyin opened #65 "AIE/D/01-lenet: makefile and readme needs modification"
https://github.com/Xilinx/Vitis-Tutorials/blob/master/AI_Engine_Development/Design_Tutorials/01-aie_lenet_tutorial/Makefiles/Makefile

Line 63, SYSROOT_PATH needs to be changed with the path to xilinx-versal-common-v2020.2 at user's end. This should be added to Readme.

Line 247, --package.sd_dir $(PLATFORM_REPO_PATHS)/sw/versal/xrt
This line should be removed?

Line 248-249, the paths need to be

[2021-04-28 03:10] nhphuong91 commented on #64
I tried the 09-mnist_pyt-master and it works fine on the ZCU104. Didn't try the 02_mnist yet, but could you all test the 09_mnist?

[2021-05-05 03:48] yka2ki opened #68 "GS/Vitis/ZCU102: makefile needs modification"
https://github.com/Xilinx/Vitis-Tutorials/blob/master/Getting_Started/Vitis/example/zcu102/hw/Makefile

(**Original**)
package/sd_card.img: app.exe vadd.xclbin xrt.ini run_app.sh
    $(call ndef,ROOTFS)
    v++ -p -t ${TARGET} --config ../../src/zcu102.cfg ./vadd.xclbin **-o vadd.xclbin** \
        --package.out_dir package \
        --package.rootfs ${ROOTFS}/rootfs.ext4 \
        --package.sd_fi

[2021-05-06 07:46] xdzhang-ai commented on #64
thank you for your reply. I tried the 09-mnist_pyt-master, but the accuracy is still 0.098, did you use the pre-built dpu platform provided in introduction/module1 (https://www.xilinx.com/bin/public/openDownload?filename=xilinx-zcu104-dpu-v2020.2-v1.3.0.img.gz)?

[2021-05-07 02:02] nhphuong91 commented on #64
Yep, I use that one

[2021-05-07 11:43] vmayoral opened #69 "$(CXX) doesn't make sense for cross-compilation in Tutorials"
Cross-compilation of binaries at https://github.com/Xilinx/Vitis-Tutorials/blob/master/Getting_Started/Vitis/Part4.md is described as:

[code]

I don't really know what you mean with `$(CXX)`. Maybe it's a syntax I don't know (nor I can make it work). Do you mean `$(echo $CXX)`.

[2021-05-07 11:48] vmayoral opened #70 "aarch64-xilinx-linux-g++ missing, using aarch64-linux-gnu-g++ instead"
Connected to #69.

The instructions at https://github.com/Xilinx/Vitis-Tutorials/blob/master/Getting_Started/Vitis/Part4.md read as:
[code]

cross-compilation wont' work this way since `CXX` contains the following in my environment with `Vitis 2020.2`:

[code]

`aarch64-xilinx-linux-g++` is ~~nowhere to be found in my file system~~. Instead, I used `aarch64-linux-gnu-g++` to successfully cross-com

[2021-05-07 13:28] randyh62 commented on #70
I am not sure where this instruction or the $(CXX) variable came from. It seems to be a Makefile variable, but I could not find the `environment-setup-aarch64-xilinx-linux` script described in the line "source <path to the SDK>/environment-setup-aarch64-xilinx-linux" in the tutorial. The command, which you found, should be located as follows:

`$XILINX_VITIS/gnu/aarch64/lin/aarch64-linux/bin/aarch

[2021-05-07 14:12] rwarmstr commented on #70
${CXX} is an environment variable that's set when you source the cross-compilation environment set up script. That's a necessary step when building on the command line.

It looks like you may not have done this before building and it's picking up the QEMU toolchain instead, which might accidentally work in some circumstances but can cause issues generally.

[2021-05-07 14:13] rwarmstr commented on #69
Like I mentioned in #70 this is an environment variable that's set when you source the cross-compilation environment. To avoid parallel threads let me close this one and we can continue the discussion there.

[2021-05-07 14:13] #69 closed

[2021-05-07 14:29] vmayoral commented on #69
@rwarmstr thanks for your comment. Please note the following in [here](https://github.com/Xilinx/Vitis-Tutorials/blob/master/Getting_Started/Vitis/Part4.md):

![imagen](https://user-images.githubusercontent.com/1375246/117464736-3f0d9a80-af51-11eb-9069-97abeab23212.png)

Note
[code]

I believe this should be changed.

[2021-05-07 14:37] rwarmstr commented on #69
Ah! Yes, you're right, I think the author may have misunderstood how this works on the shell vs. in a Makefile and I didn't notice it during review. Let me get it fixed and make a note to check for that in the future.

[2021-05-07 16:56] vmayoral opened #71 "Issues building kernels - results make no sense"
I was doing some tests with more complex kernels and XRT but things started failing. After debugging things for a few days I realized that I couln't eve reproduce the simplest examples (e.g. `vadd`) so I came back to https://github.com/Xilinx/Vitis-Tutorials/blob/master/Getting_Started/Vitis/ (that's how I bumpd into #69 and #70). As of now, I'm unable to reproduce `vadd` simple Getting Started Vi

[2021-05-08 09:01] vmayoral commented on #71
I reproduced the whole setup once again in a new computer installing everything (including Vitis, XRT, ZCU102 artifacts, etc.) from the beginning.

I got the same result, kernel returning `0`.

<details>

[code]

</details>

[2021-05-08 18:08] randyh62 commented on #71
It is not clear what OS you are using so that may be the reason you are taking this approach, but I would suggest you could eliminate the custom XRT build you are using and just use the standard embedded platform to see if that helps? Everything else looks pretty standard.

[2021-05-08 18:46] vmayoral commented on #71
Hello @randyh62, thanks for jumping in :)

Ubuntu 20.04 in my workstation.

What do you mean by this? the `setup XRT` step described above? Well, that's to meet this part of the instructions while building the kernels:

[code]

My guess is that that's required for the cross-compilation, right? (so that header are found, etc). If it's a runtime, my understanding is that it's only meant to run in em

[2021-05-09 00:59] randyh62 commented on #71
Yes, I mean don't do the xrt setup the way you are doing it. The XRT Installation instructions are located at this link:
https://www.xilinx.com/html_docs/xilinx2020_2/vitis_doc/acceleration_installation.html#pjr1542153622642
It includes the following Note:
Installing XRT is not required when targeting Arm®-based embedded platforms: Vitis compiler has its own copy of xclbinutil for hardware generat

[2021-05-09 16:19] vmayoral commented on #71
@randyh62 appreciate the recommendation, pointer and clarifications, really!

I believe that many will encounter the same confusion (and will do as I did) so I really would encourage us to make small warning session for the embedded targets within the tutorials highlighting this.

I went ahead and did as recommended. <ins>Same result</ins>, unfortunately. It wasn't indeed the source of my trouble,

[2021-05-09 19:59] randyh62 commented on #71
Thanks for your investigation. It looks like you found a problem we should fix. Sorry about the difficulty. Let us know if you run into any other issues.

[2021-05-09 20:06] vmayoral commented on #71
No problem!

There's something else where I could use your help to debug things and get the expectedly behavior straight. It’s a bit late so I’ll follow up tomorrow with more in another ticket (since it’s unrelated to this).

[2021-05-10 08:40] m-kru commented on #55
@imrickysu I have installed the platform files for U50 to `/opt/xilinx/platforms/`. Now, I can choose this platform in `Xilinx Vitis` program, however I am not able to choose this board in the `Vitis HLS` program.

![image](https://user-images.githubusercontent.com/26227737/117630912-f8e84f00-b17b-11eb-9825-265479322fae.png)

[2021-05-10 10:13] m-kru opened #73 "Xilinx Vitis vs Vitis HLS"
After going through the tutorials for the `Xilinx Vitis` and `Vitis HLS` programs I still find vague:
1. What is the conceptual difference?
2. Why are there 2 distinct programs?
3. How do I know which one should I choose?

If I understand it correctly, `Xilinx Vitis` allows for developing both the software and the firmware (kernel) in the same time within single IDE, whereas `Vitis HLS` is only fo

[2021-05-10 10:25] #70 closed

[2021-05-10 10:47] vmayoral commented on #73
@m-kru I also struggled making sense out of this, it's confusing and should be improved.
In case it helps, here's my understanding (though there are others here who know this much better):

**Vitis** is the software platform, includes hooks and connections with all the rest software tools including HLS and Vivado.
**HLS** is a high-level synthesis tool that allows the creation of hardware kernels

[2021-05-10 11:09] vmayoral commented on #73
I think this piece of input is useful @m-kru, thanks.

I agree there's room for improvement.

Are your questions addressed @m-kru or are you still struggling to decide? If so, can you share of your setup and use case/aims (please be thorough if so) so that others more knowledgeable could advise?

[2021-05-10 11:51] vmayoral opened #74 "Unable to reprogram FPGA and run NEW kernels in combination with XRT, affects both non-DFX and DFX base platforms"
#### Context

This ticket's part of a debugging effort and connected to past issues including #69 #70 #71 and #72.

While developing kernels it's common to test (also in `hw` target) incremental variants of it. So far, unfortunately, I haven't been able to do so. **Only the first kernel produced** (the first time the sd card is introduced is the hardware) **remains**. I haven't been able to succes

[2021-05-10 12:01] vmayoral commented on #74
It'd be awesome if I could get your thoughts on this @rwarmstr, @randyh62 or someone else.

[2021-05-10 13:19] randyh62 commented on #73
It is a suite of tool that works together to build a system:
1. The Vivado Design Suite does RTL synthesis and place and route to create a bitstream for the Programmable Logic (PL) region of a XIlinx device. It includes the IP integrator feature to do system level design linking multiple RTL IP.
2. Vivado HLS _provided_ C/C++ entry into RTL design for Vivado, and creates IP that can be used in IP

[2021-05-10 16:03] #73 closed

[2021-05-10 20:57] vmayoral commented on #74
All right, after a few good hints (thanks @randyh62) and insisting on power-booting hardware platforms I conclude the following for non-DFX platforms:

1. Rebuilding an image completely (including rebuilting the kernel, etc) as described in the Vitis-Tutorials **DOES** get the kernel to reprogram the FPGA successfully. This requires:
  - modify kernel
  - `v++ -c -t hw --config ../../src/zcu102.cf

[2021-05-11 09:27] vmayoral commented on #74
All right, further testing things out (and through good feedback provided by Randy, Wes, Terry and others) I fount out that for non-DFX base platforms what matters isn't really the `*.xclbin` file since this seems to be ignored completely. Instead, the corresponding FPGA is programmed by the bitstream contained into the `BOOT.BIN` file.

This then leads to the following fifth approach:
5. Rebuildi

[2021-05-11 19:45] arrow53 opened #75 "question about val/train images for yolov4 tutorial"
For the tensorflow workflow there are scripts to generate val/train images. From the scripts it looks as though the images and labels should go in the same location. Is this correct?

https://github.com/Xilinx/Vitis-Tutorials/blob/master/Machine_Learning/Design_Tutorials/07-yolov4-tutorial/scripts/gen_yolo_val_labels.sh

If it is, then I'm not sure why this section of the annotation creation scrip

[2021-05-12 13:26] #71 closed

[2021-05-19 18:04] vjsrinivas opened #79 "YOLOv4 KeyError: 'up_sampling2d/mul'"
Hello,
I've been trying to follow the YOLOv4 tutorial for Vitis AI 1.3, and I am stuck with the compilation stage where I get the following error:

[code]

When I run with Vitis AI 1.2, it compiles fine but outputs the older elf format, not xmodel. Is there something I am missing from my compile script? Also, I converted the Darknet weights to PB with the YOLOv3 model-set project that was recommen

[2021-05-25 17:29] qiyangjie commented on #53
Hi fanz,

I think I has the same issue as Satoru. Do you have any update solution for that? @fanz-xlnx
Thanks

[2021-05-26 03:59] fanz-xlnx commented on #53
Hi Yangjie,

The issue could result from the xmodel differentiation. Can I have your email address?

[2021-05-26 12:14] qiyangjie commented on #53
Sure. My email address is qiy001@udayton.edu.

[2021-06-01 11:13] Liu-guoxin opened #80 "Yolov4 using VOC Data Set and converting to Caffe Tutorial"
set number of classes to 20 for each output layer
set filter size of convolutional layer before each output layers to 75

how to  set classes  and filter.

I cant run  bash scripts/run_vai_c_zu104.sh success .

[2021-06-03 09:06] lihengyi-ai commented on #64
I am using ZCU-102, and the accuracy decreases to 0.098 too,  is there someone has solved the problem?

[2021-06-03 10:31] giulio-naggi commented on #64
I had the same issue, but managed to resolve it by downloading the updated version of the [image file](https://www.xilinx.com/bin/public/openDownload?filename=xilinx-zcu104-dpu-v2020.2-v1.3.1.img.gz)

[2021-06-03 10:54] lihengyi-ai commented on #64
Thank you very much, I will try it right now.

[2021-06-03 12:49] lihengyi-ai commented on #64
Although the problem is unknown,  it dose work to reload the image file~I just downloaded it yesterday.

[2021-06-10 08:11] majlucaaa opened #81 "Python code for the Post Processing Image of Keras FCN8 UNET segmentation"
Hello, I am working with Python and so far following the [app_mt.py](https://github.com/Xilinx/Vitis-Tutorials/blob/master/Machine_Learning/Design_Tutorials/05-Keras_FCN8_UNET_segmentation/files/target_zcu102/code/src/app_mt.py) code, but realized that there is no code to see the post processed image (how the final Segmented Image looks like). There is the code for this in [main_mt.cc](https://git

[2021-06-14 11:19] m-kru opened #82 "ERROR: [v++ 60-1576] Input Object file validation failed: zip_exception: Failed to open zip archive for reading"
I am trying to compile the vadd example provided with Vitis 2020.2.  As I want to prepare my custom Makefile I have started with super simple stuff.
I first run
[code]
It seems to work correctly.
Then, I run
[code]
However, during the built I get following error:
[code]

I have tried to google the problem, but without success.
Theoretically I use OS which is supported by Xilinx, Ubuntu 20.04.

Doe

[2021-06-14 11:32] m-kru commented on #82
**SOLVED**:

I have been missing the `--kernel` flag.

[2021-06-14 11:32] #82 closed

[2021-06-23 10:24] nhphuong91 opened #85 "Partitioning Vitis AI SubGraphs on CPU/DPU - EnvironmentNotWritableError"
Hi, I'm following _Partitioning Vitis AI SubGraphs on CPU/DPU_ tutorial but stuck at the [Install Packages and Patches on the Vitis AI Tools Container step](https://github.com/Xilinx/Vitis-Tutorials/tree/master/Machine_Learning/Feature_Tutorials/pytorch-subgraphs#33-install-packages-and-patches-on-the-vitis-ai-tools-container). See screenshot below:
![image](https://user-images.githubusercontent.c

[2021-07-03 10:18] littlemww opened #86 "Missing .prototxt file after compilation and my md5sum.txt file doesn‘t have .prototxt"
I'm trying to run test_accuracy_yolov3_voc on the ZCU104 but it aborts because of a missing .prototxt file.

 ./test_accuracy_yolov3_voc 2007_test_gt.txt yolov4_person_pred.txt

[libprotobuf ERROR google/protobuf/text_format.cc:324] Error parsing text-format vitis.ai.proto.DpuModelParamList: 1:5: Message type "vitis.ai.proto.DpuModelParamList" has no field named "name".

WARNING: Logging before In

[2021-07-20 13:59] ksstms opened #87 "DPU example on ZCU104 with 2021.1 tools"
Hi! I'm having some issues with the [ZCU104 Vitis embedded platform tutorial](https://github.com/Xilinx/Vitis-Tutorials/tree/master/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104). I tried it with 2020.2 and 2021.1 version tools. I used the provided makefiles in both cases to create the platform, then did the last step in the Vitis GUI to build the DPU example project. The 2020.2 version w

[2021-07-26 14:04] Rivon8 commented on #53
Hi everyone,

I have the same problem. Is there anywhere the final solution for that?
Thanks

[2021-08-05 09:04] lmaxeniro opened #90 "follow up the tutorial but error happen"
Hi I am following this tutorial https://github.com/Xilinx/Vitis-Tutorials/blob/c6226467aff75d9647c45ef82e918e585496b76c/Hardware_Accelerators/Feature_Tutorials/01-rtl_kernel_workflow/package_ip.md

All steps are OK but at the final step to package the xo file: I get several errors report:

`ERROR: [Common 17-170] Unknown option '-ctrl_protocol', please type 'package_xo -help' for usage info.
packa

[2021-08-05 09:12] lmaxeniro commented on #90
OK I find there are some extra steps that are need, in the application note just alongside the repo.. you really should update the documentation..

[2021-08-05 09:12] #90 closed

[2021-08-05 10:17] lmaxeniro opened #91 "RTL Simulation runs fail for VADD RTL Tutorial"
Hi when I follow up the tutorial here for running the RTL simulation: [instructions:](https://github.com/Xilinx/Vitis-Tutorials/blob/2020.1/Hardware_Accelerators/Feature_Tutorials/01-rtl_kernel_workflow/vivado_ip.md)

I get below error:
`ERROR: [VRFC 10-2989] 'axi_vip_pkg' is not declared [/home/xeniro/vivado_prj/rtl_kernel/rtl_kernel.srcs/sources_1/imports/src/testbench/Vadd_A_B_tb.sv:6]
ERROR: [

[2021-08-05 14:09] randyh62 commented on #91
In your prior post you pointed to the 2020.2 docs but said you were using the 2020.1 release. The tutorial is specific to the release. Was this the problem you identified and resolved? Which tutorial files are you working with?

In your last issue, you have the following comment: "OK I find there are some extra steps that are need, in the application note just alongside the repo.. you really shoul

[2021-08-06 04:03] lmaxeniro commented on #91
The previous issue was solved by following this guide [https://github.com/Xilinx/Vitis-Tutorials/blob/2020.1/Hardware_Accelerators/Feature_Tutorials/01-rtl_kernel_workflow/package_ip.md](url)
So I close that issue.

For this issue, I am following the guide of 2020.1 as well : [https://github.com/Xilinx/Vitis-Tutorials/blob/2020.1/Hardware_Accelerators/Feature_Tutorials/01-rtl_kernel_workflow/vivad

[2021-08-09 22:49] asantiago012 opened #93 "Tutorial disappeared while trying to follow (with 2021.1 version)"
The tutorial "Vitis-Tutorials/Hardware_Accelerators/Introduction"  has disappeared while i was trying to follow all the steps for an university project.

I was attempting to check the acceleration potential through a simple project and it was the optimal one, because it cheked all the theorical concepts from beggining to end for a simple application (showing execution times).

Now that it is not a

[2021-08-09 23:02] randyh62 commented on #93
This must be what you were following?
https://github.com/Xilinx/Vitis-Tutorials/tree/2020.2/Hardware_Accelerators/Introduction

[2021-08-09 23:18] AdriiDev commented on #93
Yes It is! Thank you! I was not able to get to that URL, appeared 404 error.

I have been checking in more detail and maybe both projects could be followed for my study.

My main question about new tutorials is that if they can be ported to the Alveo U50, and if it a diffucult task.

Seems to be possible but in a hard way, quoting Bloom tutorial text:

Is there any tutorial to port this kind of pr

[2021-08-09 23:36] randyh62 commented on #93
Generally the tutorial can be run using a different platform pretty simply. If you look at the bloo filter tutorial, in the Makefile at the following URL: https://github.com/Xilinx/Vitis-Tutorials/blob/2020.2/Hardware_Accelerators/Design_Tutorials/02-bloom/makefile/Makefile

You will see line 21 of the Makefile has the following:
PLATFORM :=xilinx_u200_xdma_201830_2

You can edit this line, or sim

[2021-08-09 23:55] AdriiDev commented on #93
Thank you very much! This helps me a lot!! Now im ready to go on.
I will give it a try and check both tutorials to set a base of acceleration knowledge.

[2021-08-09 23:55] #93 closed

[2021-08-18 01:37] asantiago012 opened #95 "Failure while emulating Bloom Tutorial in an Alveo U50 platform"
Hi!

I have been trying to follow  [Bloom Filter Example](https://github.com/Xilinx/Vitis-Tutorials/blob/master/Hardware_Accelerators/Design_Tutorials/02-bloom) and I have been experimenting some problems. First of all I had to modify some files:

`makefile/common.mk` (changed DDR to HBM):
[code]

`makefile/Makefile` (changed TARGET and PLATFORM):
[code]

I have not get to multiDDR section but I m

[2021-08-18 12:01] asantiago012 commented on #95
UPDATE:

As expected, multiDDR behavior is similar:
![image](https://user-images.githubusercontent.com/36223534/129894584-4fddf508-2be5-4210-858f-60c227b7c982.png)

[2021-08-18 16:11] Premduth commented on #95
@ThomasXilinx  can you have someone in your team look into this?

[2021-08-18 16:13] Premduth commented on #87
@imrickysu  can you look into this?

[2021-08-18 16:14] Premduth commented on #86
@allyzhou should this be moved to the Vitis-AI repo?

[2021-08-18 16:16] Premduth commented on #85
@nhphuong91 can you try this in the new tutorials in https://github.com/Xilinx/Vitis-AI-Tutorials. If it is still not working there, open the issue there and close this one

[2021-08-18 16:17] Premduth commented on #81
Please try this in

https://github.com/Xilinx/Vitis-AI-Tutorials

All ML tutorials moved there

[2021-08-18 16:17] Premduth commented on #80
Please try this in

https://github.com/Xilinx/Vitis-AI-Tutorials

All ML tutorials moved there

[2021-08-18 16:17] Premduth commented on #79
Please try this in

https://github.com/Xilinx/Vitis-AI-Tutorials

All ML tutorials moved there

[2021-08-18 16:17] Premduth commented on #75
Please try this in

https://github.com/Xilinx/Vitis-AI-Tutorials

All ML tutorials moved there

[2021-08-18 16:18] Premduth commented on #74
@imrickysu  can you look at this?

[2021-08-18 16:19] Premduth commented on #68
@imrickysu  please look at this

[2021-08-18 16:20] Premduth commented on #65
@ThomasXilinx  can you have someone look at this?

[2021-08-18 16:21] Premduth commented on #64
Is this still open or resolved?

If unresoloved:

Please try this in

https://github.com/Xilinx/Vitis-AI-Tutorials

All ML tutorials moved there

[2021-08-18 16:22] Premduth commented on #62
Closing under assumption it is resolved

[2021-08-18 16:22] #62 closed

[2021-08-18 16:23] Premduth commented on #61
Please try this in

https://github.com/Xilinx/Vitis-AI-Tutorials

All ML tutorials moved there

[2021-08-18 16:25] Premduth commented on #60
@ThomasXilinx  can you have someone look at this?

[2021-08-18 16:25] Premduth commented on #58
Please try this in

https://github.com/Xilinx/Vitis-AI-Tutorials

All ML tutorials moved there

[2021-08-18 16:27] Premduth commented on #53
Please try this in

https://github.com/Xilinx/Vitis-AI-Tutorials

All ML tutorials moved there

[2021-08-18 16:27] Premduth commented on #48
Please try this in

https://github.com/Xilinx/Vitis-AI-Tutorials

All ML tutorials moved there

[2021-08-18 16:28] Premduth commented on #47
Closing as per understanding it is a known issue

[2021-08-18 16:28] #47 closed

[2021-08-18 16:29] Premduth commented on #37
Please try this in

https://github.com/Xilinx/Vitis-AI-Tutorials

All ML tutorials moved there

[2021-08-18 16:29] #37 closed

[2021-08-18 16:29] #32 closed

[2021-08-19 09:02] nhphuong91 commented on #85
@Premduth Thanks but I found that the _Partitioning Vitis AI SubGraphs on CPU/DPU_ tutorial no longer exist on that new repo

[2021-08-19 15:03] Premduth commented on #85
@nhphuong91  can you add this comment to the https://github.com/Xilinx/Vitis-AI-Tutorials? Someone there can comment on the status. Not sure why that would not be there anymore

[2021-08-21 02:10] imrickysu commented on #87
@ksstms Could you take a look at newly released tutorial for [2021.1](https://github.com/Xilinx/Vitis-Tutorials/blob/2021.1/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/step2.md)? It should have addressed these issues because PetaLinux 2021.1 has some updates.

`packagegroup-petalinux-xrt` is not needed in 2021.1. Instead, please use `xrt` package. Contents in `packagegroup-petalinux-xrt

[2021-08-21 02:29] imrickysu commented on #55
Hi @m-kru , Vitis HLS board setup shares the Vivado board setup. Vitis HLS only needs device part info from the board setup. The contents in Alveo platform is not needed by Vitis HLS.
Please launch Vivado and go to Tools -> Vivado Store to download the boards

[2021-08-21 03:29] imrickysu commented on #68
In Vitis 2021.1, the original Makefile generates error `ERROR: [v++ 60-2504] The input file and output file cannot be the same`. The Modified code can pass compilation, but it generates two xclbin files in sd_card directory: a.xclbin and vadd.xclbin.

Investigating how to reduce the redundancy.

[2021-08-21 03:36] #55 closed

[2021-08-22 01:52] vjsrinivas commented on #79
For anyone else who encounters this error statement, I tried exporting with Vitis AI **1.4** and it was able to compile. I haven't tried to see if the xmodel runs correctly on my 104, but I will close this issue since the main problem is solved.

[2021-08-22 01:52] #79 closed

[2021-08-23 06:40] allyzhou commented on #86
Yes, this should be transferred to https://github.com/Xilinx/Vitis-AI-Tutorials, @ryanvergel can you help transfer issue to that repo. Thanks.

[2021-08-23 12:49] ksstms commented on #87
Thank you, that solves the XRT issue.

Unfortunately the `packagegroup-petalinux-vitisai` will still cause a build failure. I see it in [step 4](https://github.com/Xilinx/Vitis-Tutorials/blob/2021.1/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/step4.md#create-the-design) that it's not currently possible to build the Vitis AI deps in the PetaLinux project. Is it possible to merge the down

[2021-08-23 14:43] Premduth commented on #86
@littlemww Can you look at the new repo: https://github.com/Xilinx/Vitis-AI-Tutorials and if it is still there, open the issue there? I am going to close this issue in this repo for now..

[2021-08-23 14:43] #86 closed

[2021-08-23 14:55] Premduth commented on #85
Closing out this one to open in https://github.com/Xilinx/Vitis-AI-Tutorials so the right people can answer

[2021-08-23 14:55] #85 closed

[2021-08-23 14:55] #80 closed

[2021-08-23 14:56] #75 closed

[2021-08-23 14:56] #64 closed

[2021-08-23 14:56] #58 closed

[2021-08-23 14:56] #48 closed

[2021-08-23 14:57] #81 closed

[2021-08-23 14:58] Premduth commented on #54
Please reference here for ML tutorials:
https://github.com/Xilinx/Vitis-AI-Tutorials

If this issue still there, open with the latest version test.

[2021-08-23 14:58] #54 closed

[2021-08-23 14:58] #53 closed

[2021-08-23 14:58] #61 closed

[2021-08-24 02:55] imrickysu commented on #87
Technically you can merge the two sysroots. But it's not a tested flow.
VAI 1.4 PetaLinux recipe will be released soon. After it's released, you would be able to generate one single sysroot from a PetaLinux project.

[2021-08-24 06:32] ravicho commented on #95
Hi Adrian,

When you run the hardware emulation, your application is not running on the card, and this mode uses behavior models to mimic the hardware. These are not precisely the same performance as that of when the application is run on the hardware. The advantage here is that you create a functional representation of the whole system, RTL being cycle-accurate. For example, you are not writing f

[2021-08-24 06:34] imrickysu commented on #87
Update: vitis-ai recipes have been published.
https://github.com/Xilinx/meta-vitis-ai

Now you can add this layer in PetaLinux and build a final sysroot.
Refer to UG1144 for how to add custom layers. Search for key word "add layer".

[2021-08-30 22:04] ravicho commented on #95
Hi Adrian,

Yes. Your understanding is correct. Let me know if you experience any further issues when you run this tutorial on the hw.

Regards
Ravi

[2021-08-31 14:46] #87 closed

[2021-08-31 21:57] Hamptonjc opened #99 "Vitis Platform Creation Tutorial for ZCU104: Emulation Does Not Work in u-boot"
Following: https://github.com/Xilinx/Vitis-Tutorials/tree/2020.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104#step-by-step-tutorial

During step 4, test 2 "Run Vector Addition Application", when running HW-emulation I get the following in the emulation console of the Vitis IDE:
[code]

Note: I am using branch 2020.2, matching my Xilinx tool versions.

Any ideas?

[2021-08-31 22:49] Premduth commented on #99
@imrickysu  can you take a look?

[2021-09-01 00:46] imrickysu commented on #99
@Hamptonjc This error behavior looks very like the u-boot can't find **boot.scr**.
Please make sure you put boot.scr into image directory when Preparing Files for Platform Packaging (step 6).

[2021-09-01 14:10] Hamptonjc commented on #99
@imrickysu I can confirm boot.scr is in the image directory:

![image](https://user-images.githubusercontent.com/41594631/131686219-75ab2c61-c53c-42cd-b7d1-43724ac88d55.png)

[2021-09-01 15:56] Hamptonjc commented on #99
The full read out from the emulation console:

[code]

[2021-09-02 22:02] asantiago012 commented on #95
Hello!

I am trying to execute it on Hardware and I am having so much troubles. It seems that it is not much easy to port to Alveo U50 because there are some errors like "std:bad_alloc" and others that i have been able to solve.

If it would be possible to shcedule a meeting, it would be amazing because i don´t know what else to modify in files and i don´t have much time to solve this situation. I

[2021-09-02 22:52] ravicho commented on #95
Hi Adrian,

Can you list all the changes you have implemented so far to make it work for u50 card?

I suspect that you are allocating a buffer more than the capacity of HBM 1 Pseudo channel, 256MB, resulting in bad allocation.  This is not a problem with DDR, as the capacity for each bank is 16G.

Please share what step you are running and the complete error for me to take a look.  I will schedule

[2021-09-02 23:03] ravicho commented on #95
Hi Adrian, Where should I send you an invite to the meeting?   Ravi

[2021-09-02 23:08] asantiago012 commented on #95
Hi!

The step and output is:

[code]

And the modifications, for each file:
- "makefile/common.mk" (tried with 3 and 31, no change):
[code]
- "makefile/connectivity.cfg":
[code]
- "makefile/Makefile":
[code]

These are my last files. I modified them several times for hw_emulation in other machine.

I have not modified source files on this version and maybe it is the problem. I didnt know there are

[2021-09-03 00:55] asantiago012 commented on #95
Just in case it helps, here is the size of the buffers printed while execution:
[code]
beeing obviously greater than the maximum of 256MB.

[2021-09-03 06:10] asantiago012 commented on #95
New more info about buffer allocation:

- Highest working value for number of documents:
[code]

- Lowest not working value for number of documents:
[code]

[2021-09-03 13:34] aclich opened #101 "02-Edge-AI-ZCU104 Vitis Platform Creation Tutorial: Can not run multiple dpu task (multi-thread) in this build."
I was following https://github.com/Xilinx/Vitis-Tutorials/tree/master/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104 this platform creation tutorial and refer to this issue https://github.com/Xilinx/Vitis-Tutorials/issues/87 to solve some problem in the flow and build the project successfully. However, I was trying some examples from vitis-ai-library and VART, the system will crash without

[2021-09-03 18:08] Premduth commented on #101
@aclich This may be better suited for the folks in the Vitis AI tutorials:
https://github.com/Xilinx/Vitis-AI-Tutorials

Can you ask there?

[2021-09-04 02:05] imrickysu commented on #101
One difference between base platform and VAI pre-built image is that Vitis-AI image optimizes AXI throughput with QoS settings. It's documented in Vitis-AI dpu-trd doc. It may impact Vitis-AI application performance but it should not cause crash.

The crash may debug needs more knowledge from VART or Vitis-AI application level. Please try to get more help from Xilinx Forums or opening issues in Vi

[2021-09-04 04:47] aclich commented on #101
@Premduth @imrickysu  Thanks for the reply and advise on this issue. I will ask about this on there. Many thanks!

[2021-09-04 04:47] #101 closed

[2021-09-04 13:41] aclich commented on #101
Update
@imrickysu I would like to give a big thanks to you that you reminded about the QoS settings. I went to see VItis-AI dpu-trd  doc [here](https://github.com/Xilinx/Vitis-AI/blob/master/dsa/DPU-TRD/prj/Vitis/README.md) and the section 5.5.3 (known issues) just pointed out the default setting of PMIC (irps5401) on ZCU104 can't afford DPU running on heavy loading. I followed the instruction in

[2021-09-06 10:28] arthurtsr opened #102 "Error when running the system in tutorial "Versal ACAP AI Engine A to Z Bare-metal Flow""
Hi,

I'm trying to get through the above tutorial, located here:  https://github.com/Xilinx/Vitis-Tutorials/tree/master/AI_Engine_Development/Feature_Tutorials/01-aie_a_to_z

I am using Vitis and Vivado 2021.1.

I have reached the end of the tutorial (end of part 04-ps_application_creation_run_all.md), everything built well, until the section "Run the system". I click on Run as -> Launch Hardware,

[2021-09-07 06:30] imrickysu commented on #101
That's great, @aclich. Thanks for sharing the solution.

[2021-09-07 20:24] Premduth commented on #102
@allyzhou  can you have Joyce look a this?

[2021-09-08 12:25] danna2019 opened #105 "Tutorial vadd on sw_emu using xilinx_u250_gen3x16_xdma_3_1_202020_1 caused error in ./app.exe"
On the tutorial "Getting Started: Part4/Instructions for the Alveo U200 platform", I'd like to use Alveo U250, installed some platform dependent files on "/opt/xilinx/platforms/xilinx_u250_gen3x16_xdma_3_1_202020_1", and "Vitis-Tutorials/Getting_Started/Vitis/example/src/u200.conf" to u250.conf as below:
[code]
and some commands following the instruction as:
[code]
after the instruction, I've try

[2021-09-09 13:00] danna2019 commented on #105
Self solved.

[2021-09-09 13:00] #105 closed, assigned to nobody

[2021-09-10 06:34] danna2019 opened #106 "Error when running on Vitis Getting Started tutorial: "Vitis Flow 101 – Part 4 : Build and Run the Example" on Alveo U250"
Following errors occured when running ./app.exe using same code of a vector add sample successfully ran on sw_emu/hw_emu with 'TEST PASSED' on my Alveo U250 host.
[code]
`dmesg` said:
[code]

How can I fix it?

[2021-09-10 17:06] randyh62 commented on #106
It seems like there might be a version mismatch for XRT between the development environment and the deployment environment.

[2021-09-11 01:35] danna2019 commented on #106
xbmgmt said:
[code]
xrt version.json said:
[code]
xclbinutil said:
[code]

I seem they said XRT versions are same as '2.11.634'.

If I should take some information, please how I can take them.

[2021-09-11 02:17] randyh62 commented on #106
That looks pretty consistent. Are you able to run any other examples on your U250?

[2021-09-11 02:38] danna2019 commented on #106
No, it's first time run.
So, I think I have to started the "Getting Started" first example.
I believe the "Vector Add" example is a most simple example for using Vitis to Alveo U250.

If you have anthor simple examples for the alveo which are I should run before the Vector Add, please let me know.

[2021-09-11 13:28] randyh62 commented on #106
There are a number of different examples in the [Vitis_Accel_Examples](https://github.com/Xilinx/Vitis_Accel_Examples) repository. You can build some of these pretty quickly, and run them on your hardware.
I would start with something like [Hello World](https://github.com/Xilinx/Vitis_Accel_Examples/tree/master/hello_world) which also happens to use the vadd kernel. These examples have Makefiles t

[2021-09-11 16:55] danna2019 commented on #106
Using Hello World example, 'make all' could be successfully done, but 'make run' caused error below:
[code]

dmesg said same as previous vector add ran:
[code]

I seem `xocl_fdt_check_uuid` is also failed same as previous vector add ran and caused the host application error.
How can I fix it?

I think it's troublesome that my Alveo host had be installed 3 alveo U250 cards.
If 3 cards would need so

[2021-09-11 17:05] randyh62 commented on #106
It seems like there is a configuration issue, though I am not sure where the problem lies. You can debug the Alveo installation using the following guide: https://xilinx.github.io/Alveo-Cards/master/debugging/docs/card-validation.html
Run some of the validation tests to see if your cards are working as expected.

[2021-09-11 17:17] danna2019 commented on #106
I ran some of the validation tests on the guide, but all validation tests are successfully done.
How can I handle it?

[2021-09-11 17:44] randyh62 commented on #106
If you have three cards, you can try to direct the xclbin to a different card in the system. This would be done in the host application. Currently it defaults to choosing the first card. You could change that to specify a card or  hard code it to card 2 or 3?
[code]

[2021-09-11 18:09] uday610 commented on #106
Hello @danna2019 ,

I see the shell is not loaded for U250 platform, assuming you are using latest U250, which is a 2RP platform.

Please do execute this command first:

     sudo xbmgmt partition --scan

This would show you the name of the shell partition installed in the system. Something like this:

    Partitions installed in system:
        xilinx_u250_gen3x16_xdma_shell_3_1
            logic

[2021-09-11 18:18] uday610 commented on #106
I forgot to mention in my previous reply regarding the ``--card`` option. As you have 3 cards you need to specify BDF to choose the card. So you should do this one after another for each card to load the shell.

     sudo xbmgmt partition --program --name xilinx_u250_gen3x16_xdma_shell_3_1 --card <bdf>

[2021-09-12 03:39] danna2019 commented on #106
Thank you @uday610.
After 'xbmgmt partition', I could successfully run 'Hellow World' example like below:
[code]

Unfortunately, I got another error when running the Vector add example on 'Getting_Started/Vitis/example' (originally this issue concerning, but it's a different error) below:
[code]

How can I fix it?

(bit curios, I already ran 'xbmgmt partition'  accoding to the Alveo getting starte

[2021-09-12 06:25] danna2019 commented on #106
Oh, I got solve this error.
`xbutil reset -d 0`
ran before executes `./app.exe`.

Thank you for your advices, @randyh62 and @uday610.

[2021-09-12 06:25] #106 closed, assigned to randyh62

[2021-09-17 15:03] arthurtsr commented on #102
Any idea?

[2021-09-21 22:05] arrow53 opened #107 "dnndk with Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104 2021.1"
with the 2021.1 release, during step 2 `petalinux-build` fails on building several packages. I can get around a lot of them by including the vitisai meta layer via the instructions at the end of this

https://forums.xilinx.com/t5/Embedded-Linux/Petalinux-2021-1-packagegroup-petalinux-vitisai-problem/m-p/1280715/highlight/true#M52489

But, I think this still doesn't include dnndk? Is there a way to

[2021-09-21 22:41] arrow53 opened #108 "pseudo won't build in the fasttrack for step2 in the zcu104 tutorial"
running `make all` from here

https://github.com/Xilinx/Vitis-Tutorials/blob/2021.1/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/step2.md#fast-track

I get this
[code]

i'm tried cleaning and rebuilding but that didn't help

[2021-09-21 23:53] imrickysu commented on #108
Hi @arrow53 ,

This error is in PetaLinux build. It hasn't been reported before. It may relate to your OS environment or network.

There should be some log files in the build directory. Could you take a look the detailed error message?

`/opt/Vitis-Tutorials-2021.1/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/ref_files/step2_petalinux/build/petalinux/components/yocto/layers/core/meta/rec

[2021-09-22 18:40] arrow53 commented on #108
I think this is the issue
[code]

According to this

https://www.xilinx.com/support/answers/73705.html

I tried to add but didn't help
[code]

[2021-09-22 19:39] arrow53 commented on #108
@imrickysu i'm not sure why this is in there but after commenting this line out everything works fine. I'll go ahead and close as I have a fix but feel free to comment if this is really needed
[code]

[2021-09-22 19:39] #108 closed, assigned to imrickysu

[2021-09-22 21:59] arrow53 opened #109 "exception running on hardware Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104 2021.1"
any ideas on this? I have no idea where to start
[code]

[2021-09-23 00:32] imrickysu commented on #109
XRT driver ZOCL prints mixed with application output.
Your application has an output `TEST PASSED`. It's an expected result.

ZOCL prints are due to the kernel log level being set high. You can see the current log level by running the following command:
[code]
The first number is the current log level (has nothing to do with xrt.ini verbosity).
To set it back to the typical value of 4, you can use

[2021-09-23 19:25] arrow53 commented on #109
oh thanks @imrickysu the PASSED was buried in there. sorry about that

[2021-09-23 19:25] #109 closed, assigned to imrickysu

[2021-09-24 22:42] arrow53 opened #111 "Hardware_Acceleration Introduction"
In this tutorial

https://github.com/Xilinx/Vitis-Tutorials/blob/2021.1/Hardware_Acceleration/Introduction/guided_sw_examples.md

 during `make` I see
[code]

I'm using a U50 card. Is this the reason?

[2021-09-25 00:21] randyh62 commented on #111
Yes. You can use the platforminfo command to query the resources for a specific platform or shell, like the following:
platforminfo -p xilinx_u50_gen3x4_xdma_2_202010_1

This shows the U50 has HBM banks, numbered 0 to 32. Therefore you need to specify things a bit differently.
https://www.xilinx.com/html_docs/xilinx2021_1/vitis_doc/buildingdevicebinary.html#ejl1524519365386

[2021-09-25 22:34] arrow53 commented on #111
The problem was the `config.mk` file is missing a `u` in the platform name
https://github.com/Xilinx/Vitis-Tutorials/blob/2021.1/Hardware_Acceleration/Introduction/design_source/hw_src/config.mk#L4

What might be good is to instead of saying to run `make` at the bottom of this page
https://github.com/Xilinx/Vitis-Tutorials/blob/2021.1/Hardware_Acceleration/Introduction/guided_sw_examples.md

to re

[2021-09-25 22:34] #111 closed, assigned to nobody

[2021-09-27 08:28] LoeWHJ opened #112 "Embedded Design Tutorials/Zynq UltraScale+ MPSoC Embedded Design Tutorial/Design Example 1: Using GPIOs, Timers, and Interrupts/ can't open The "ref_design" example URL"

[2021-09-27 10:45] imrickysu commented on #112
Hi @LoeWHJ , could you share more details in your question?

Do you mean this folder?
https://github.com/Xilinx/Embedded-Design-Tutorials/tree/master/docs/Introduction/ZynqMPSoC-EDT/ref_files

Embedded Design Tutorials is a github repo outside of Vitis-Tutorials.

[2021-09-27 10:46] imrickysu commented on #107
I don't think DNNDK is supported in this release. I'll confirm with Vitis-AI team.

[2021-09-27 15:03] shua1zhang commented on #107
Hi @arrow53 ,
The VAI 1.4 will not have DNNDK.

[2021-10-11 15:04] Q-point opened #113 "07-AI-Engine-Floating-Point/MatMult/ AIE config JSON file missing"
Makefile:48: recipe for target 'aie' failed
make[1]: [aie] Error 255 (ignored)
if [ -f ../Module2.build.log ]; then cp ../Module2.build.log ./build.log 2>/dev/null; echo; echo "INFO: Look at the log file Debug/build.log for more details."; else echo "Warning: Build log file ../Module2.build.log doesn't exist."; fi; \

Warning: Build log file ../Module2.build.log doesn't exist.
if [ -d data ]; then

[2021-10-11 15:22] Premduth commented on #113
@smitha-xilinx  can you have someone take a look at this?

[2021-10-12 07:24] OTremois commented on #113
The error on customer side seems to be in the aie compilation.
I tried on my side and compilation/simulation and visualization went fine.

Can we have more details on the AIE compilation error?

[2021-10-12 13:32] Q-point commented on #113
The full log is below. It looks like the AIE is missing the config JSON file.
The error is due to missing files based on the logs.

Specifically:

" AIE Simulator config Json file missing, file: Work/config/scsim_config.json"

The environment is as below:

Vivado 2021.1

[code]

Apart from that, I just issue make all under this directory.

[code]

[2021-10-12 14:34] OTremois commented on #113
Hi,

We can see at the end of the compilation the error:
`ERROR: [aiecompiler 77-4170] Unable to find specified platform : /home/dhq/Documents/Versal/xilinx_vck190_base_202110_1/xilinx_vck190_base_202110_1/xilinx_vck190_base_202110_1.xpfm`

The problem comes from the way you defined the PLATFORM_REPO_PATH variable. It should be:
`export PLATFORM_REPO_PATHS=/home/dhq/Documents/Versal`

This modific

[2021-10-12 14:54] Q-point commented on #113
Hi,

I can confirm that works. Thank you , closing this.

[2021-10-12 14:54] #113 closed, assigned to OTremois

[2021-10-15 20:25] Ali-Flt opened #119 "Problem with depth in Hardware kernel code of Vitis-Tutorials/Hardware_Acceleration/Design_Tutorials/01-convolution-tutorial"
Hi,
I've read the whole tutorial and understood all of it. But an issue I have is that the depth of output_stream in the top-level function of the [filter2d_hw.cpp](https://github.com/Xilinx/Vitis-Tutorials/blob/2021.1/Hardware_Acceleration/Design_Tutorials/01-convolution-tutorial/src/filter2d_hw.cpp) file is set to 64.
![image](https://user-images.githubusercontent.com/60854595/137548372-64e3b940

[2021-10-20 03:12] allyzhou commented on #119
We're looking at this issue and will get back to you soon. Thanks.

[2021-10-20 18:04] akhilayyagari commented on #119
Hi @Ali-Flt - I have extracted the independent questions and answered them independently

**Why is it necessary to have a FIFO depth of "64" instead of "2"**

The Dataflow throughput is dynamic in nature and it is dependent on the FIFO full and empty conditions. When the user selects the FIFO of depth "2" they would see a small stall percentage because of FIFO getting full ( can be seen in the dat

[2021-10-20 18:28] Ali-Flt commented on #119
Hi @akhilayyagari ,
Thank you very much for the detailed answer.
If I've understood correct about the FIFO depth, the right flow of configuring the depths will be to start from a high number (maximum number of data that will be pushed into each FIFO) and run C/RTL co-simulation with buffer profiling and lower the depth until stall percentage goes higher than 0.

About the setting FIFO depth to 0 c

[2021-10-21 00:12] akhilayyagari commented on #119
hi @Ali-Flt ,

There are two ways you can optimize the FIFO depth,
- Manual Way: The designer would need to size the FIFO starting from maximum to an optimal size.
- Automatic Way: The co-simulation provides a feature that can automatically find the optimal FIFO depth by running multiple simulations, which may take a long time for big designs

The second issue you have reported may be a bug, it sh

[2021-10-26 11:39] CoffeeCat3008871 opened #120 "File not found common/xf_common.hpp when building Runtime_and_System_Optimization/Introduction/design_source/hw_src"
After I downloaded the package throught "git clone --recurse-submodules https://github.com/Xilinx/Vitis-Tutorials.git", I followed the instruction to go into the hw_src file and change the first line of Makefile. I setup the Vitis and XRT environment through "source /opt/Xilinx/Vivado/2021.1/settings64.sh" and "source /opt/xilinx/xrt/setup.sh" correctly. However, when I did "make", the result look

[2021-10-29 13:52] CoffeeCat3008871 opened #121 "Pre-synthesis Control Flow Error occurred after running C simulation"
After I ran the C simulation on the synthesis and analysis part of the Vitis HLS Getting Started tutorial, the dct_csim.log gave TEST PASSED, but the Pre-synthesis control flow did not show up and an error occurred in the problem console as the followings:

![Error_1](https://user-images.githubusercontent.com/89786846/139447075-5080867e-2adc-4916-927e-c2c6e28daa07.PNG)
![Error_2](https://user-imag

[2021-10-30 01:10] danna2019 commented on #121
Same problem reported on [Xilinx forum](https://support.xilinx.com/s/question/0D52E00006hpP0FSAU/failed-to-create-the-parts-controls-error-when-running-vitis-hls-tutorials), but not solved.

[2021-10-30 20:08] randyh62 commented on #121
Can you post your operating system information here?

[2021-10-31 04:41] CoffeeCat3008871 commented on #121
![image](https://user-images.githubusercontent.com/89786846/139568050-af4b617b-5627-4dd8-9b2c-d1f30dd23f54.png)

[2021-11-02 13:22] Ali-Flt opened #122 "Vitis Custom Embedded Platform Creation Example on ZCU104 DPU Test 3: Run a Vitis-AI Demo not working"
Hi, I've gone through this tutorial with Vitis 2020.2 and Vitis AI v1.3 : [https://github.com/Xilinx/Vitis-Tutorials/tree/2020.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104](https://github.com/Xilinx/Vitis-Tutorials/tree/2020.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104)

With some slight differences:
1. My Vitis platform has a MIG IP core for interfacing with PL-DDR4 SODIMM

[2021-11-02 16:02] imrickysu commented on #122
The `AIE_METADATA err: -22` can be safely ignored. It's an XRT code issue.
The wrong result can be caused by many reasons. Checking with Vitis-AI experts.

[2021-11-03 10:35] Ali-Flt commented on #122
I went through all 4 steps of the tutorial again without changing anything. The only change was that I used Vitis AI branch 1.3.2 instead of V1.3 and still the results are incorrect.

This is getting really frustrating for me because I'm doing exactly what the tutorial tells me to do, I don't even get any errors but the model is not giving proper outputs.

[2021-11-03 21:30] Ali-Flt commented on #122
I also installed Vitis 2021.2 and tried the whole flow with Vitis AI 1.4 (master). But the results were the same.

I forgot to mention that instead of loading the SD Card using the sd_card.img file, I extracted the zcu104_custom_plnx/images/linux/rootfs.tar.gz file in the second partition and copied all the files in the dpu_trd_system/Hardware/package/sd_card/ folder into the first SD card partiti

[2021-11-04 09:05] Ali-Flt commented on #122
Also I found out another problem. When I create the DPU Kernel application project using the Xilinx Official Vitis platform for ZCU104, the system builds without errors and resnet model works too.
There are some differences in the application project when I create it on top of the platform provided by xilinx and when I create it on top of my own custom platform. For example in the section below, t

[2021-11-04 14:25] imrickysu commented on #122
The v++ configuration settings is set by https://github.com/Xilinx/Vitis-AI/blob/v1.3/dsa/DPU-TRD/prj/Vitis/config_file/prj_config_gui and this file is associated to the application project by https://github.com/Xilinx/Vitis-AI/blob/v1.3/dsa/DPU-TRD/description.json

In `description.json`, the `"ldclflags" : "--config PROJECT/src/prj/Vitis/config_file/prj_config_gui"` is set under `platform_proper

[2021-11-04 14:45] Ali-Flt commented on #122
Hi @imrickysu,

Thanks for the answer, I really appreciate your quick answers to my comments.
Yes today after I posted the last comment, I searched in the files and found the thing you mentioned in the .json file. And I was really shocked of the fact that the project's behavior depends on your platform's name. Please at least mention this in the tutorial.

But even with having zcu104_base in the p

[2021-11-07 03:11] imrickysu commented on #122
Hi @Ali-Flt , I reran the VAI test for 2020.2. It worked well on my side.

Could you try to create the Vitis-AI application with the platform generated by the [Makefile](https://github.com/Xilinx/Vitis-Tutorials/tree/2020.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/ref_files/Makefile) ? You can run `make all` and generate the platform.

For the configuration setting issue we discussed

[2021-11-07 17:10] Ali-Flt commented on #122
Hi @imrickysu ,
Thanks for going through the tutorial for verification.
I used the Makefile as you explained on Vitis 2021.2 to run all steps and the resnet app is working successfully now:
![image](https://user-images.githubusercontent.com/60854595/140654926-cb6c09b0-2509-4537-af52-fb87f187d517.png)

So after that I went to the make scripts in each step and looked for differences with the tutoria

[2021-11-08 20:25] arrow53 commented on #120
@CrunchyMoore this is fixed on the 2021.2 branch.

[2021-11-10 03:12] zjjzby opened #126 "ERROR: Host application did not complete - pass/end string not found. Exiting as a failure"
When I am running this example,
https://github.com/Xilinx/Vitis-Tutorials/blob/2021.1/AI_Engine_Development/Design_Tutorials/01-aie_lenet_tutorial/

I successfully built the entire design. However, when I was running "make run TARGET=hw_emu" for hardware emulation, I got the following error message:
![image](https://user-images.githubusercontent.com/16730191/141042779-063cdbe8-ba07-47d8-a7e8-9f945

[2021-11-10 04:14] Premduth commented on #126
@dharapxilinx  can you take a look?

[2021-11-10 04:15] Premduth commented on #120
Closing based on last comment from @arrow53

[2021-11-10 04:15] #120 closed, assigned to nobody

[2021-11-14 23:39] asantiago012 commented on #95
I managed to solve the issue with help of @ravicho .

I executed succesfully all the steps of tutorial, except the last one, using several DDR banks.

Here are all modifications on each file.

- makefile/Makefile:
    - Changed TARGET and PLATFORM
    - Added NUM_DOCS variable to set number of documents for tests

[code]

- makefile/common.mk:
    - Changed DDR values to HBM
    - Added more profi

[2021-11-14 23:39] #95 closed

[2021-11-15 08:02] vmayoral opened #127 "Platform Creation General Rules link invalid"
[Platform Creation General Rules](https://www.xilinx.com/html_docs/xilinx2020_2/vitis_doc/vcm1596051749044.html) link at https://github.com/Xilinx/Vitis-Tutorials/blob/2021.1/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/README.md is invalid

Update as appropriate.

[2021-11-16 04:32] #127 closed, assigned to imrickysu

[2021-11-16 04:33] #107 closed, assigned to imrickysu

[2021-11-20 15:11] sunhao-seu opened #132 "Getting_Started ZCU102 error. cannot boot on ZCU102 with "Kernel panic - not syncing: VFS: Cannot open root device "mmcblk0p2" or unknown-block(179,2): error -6""
Dear Authors, I have followed the steps and generated the sd_card folder successfully. However, I cannot boot the Linux system on ZCU102 via sd_card.
This is some error information when booting the ZCU102:

[code]

**I use Vitis 2020.2 with the following scripts:**

[code]

@imrickysu @vmayoral @shazahmad @stsoe @Premduth Help~

[2021-11-20 16:59] Premduth commented on #132
@imrickysu  can you look into this?

[2021-11-21 11:38] sunhao-seu commented on #132
I find it's my fault. I forget to **write the **"sd_card.img"** to the sd_card.
But After I writing  **"sd_card.img"** to sd_card, new error occurs as follows:

`[  163.388665] FAT-fs (mmcblk0p1): Directory bread(block 2048028) failed`

Then I try Vitis IDE on ubuntu with the **SW acceleration templates/Vector Addition** example and completed my first run of a Vitis accelerated application on the

[2021-11-26 06:10] drug490 opened #134 "Example of a project for Vitis HLS, Vitis Vision Library"
Hello, I need an example of a project for Vitis HLS, Vitis Vision Library, to create an IP block that works with AXI Video Stream. Like this

https://www.hackster.io/adam-taylor/fpga-based-edge-detection-using-hls-192ad2

##include "hlc_video.h"

#include "hls_OpenCV.h"

Does not work in Vitis HLS 2021.1

[2021-12-01 03:17] allyzhou commented on #134
The vitis vision librares are deprecated in vitis HLS, which is documented in here -https://docs.xilinx.com/r/en-US/ug1399-vitis-hls/HLS-Video-Library

The new Vitis Vision libraries can be found in here - https://xilinx.github.io/Vitis_Libraries/vision/2021.2/overview.html# .
The vitis Stream example can be found in here -  https://github.com/Xilinx/Vitis-HLS-Introductory-Examples/tree/master/Int

[2021-12-02 16:17] Premduth opened #136 "In the Thin Platform it shows how to use ILA with AIE Debug, although the Readme does not call this out"
The Readme for the Thin platform does not clarify that AIE Debug of the system is included in the tutorial. Can that be added please?

[2021-12-03 10:37] PeanutzZ-zZ opened #137 "A question about the example/src/host.cpp and vadd.cpp"
Hello,
Recently,i'm learning how to use Xilinx platform and i want to calculate two large number(such as "111111111111111111111111111111111111111111" add "222222222222222222222222222222222222" ) by Xilinx platform.
Next, i tryed to revise the code based on the 'host.cpp' and 'vadd.cpp'.
Next, **MakeFile**,while starting v++ and making xclbin file ,something error happened.
So, i want to know if i

[2021-12-03 12:21] BrunoVandeveldeXilinx commented on #136
More info on AIE ILA/Debug has been added to the README.md and will be available on the next upload to github.
Kudos to Marco!

[2021-12-03 16:37] Premduth commented on #136
@BrunoVandeveldeXilinx can you submit a PR to Github for this change? then we can link this with the issue request..

[2021-12-03 16:41] BrunoVandeveldeXilinx commented on #136
@Premduth We have done a pull request to the internal gitenterprise, so I assume it will come to life next week Friday! Or if you like it sooner on github than @allyzhou needs to accept the PR sooner.

[2021-12-03 19:23] Premduth commented on #137
@randyh62  want to take initial look?

[2021-12-03 20:35] randyh62 commented on #137
Sure. I will take a look and reply.

[2021-12-04 13:10] PeanutzZ-zZ commented on #137
thx.
:-)

[2021-12-04 13:45] m-kru opened #138 "When is .run_summary file generated?"
[Part5](https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/Getting_Started/Vitis/Part5.md) mentions `.run_summary` file. However, after successful build of the kernel with Vitis 2020.2 there is no file with `.run_summary` extension.  What program is responsible for generating this file, and when exactly (at which step) this file should be created?

[2021-12-04 14:05] m-kru opened #139 "How to use the output from script --hls.export_project?"
v++ has following option:
[code]
When I use it, the `.tcl` script is indeed created. However, how can I use this script so that I can open project in `Vitis` or `Vitis HLS` GUI application?

[2021-12-05 15:11] randyh62 commented on #137
Hello PeanutzZ-zZ,

What error happens when you try to make the xclbin? Can you provide some additional details? What version of the tools are you using?

Thanks,
Randy

[2021-12-06 08:23] allyzhou commented on #136
issue fixed by commit b2890fcef3a6669ddfdc06458a7eea0e589e627c

[2021-12-06 08:24] #136 closed, assigned to BrunoVandeveldeXilinx

[2021-12-08 15:54] dongzhang2021 opened #140 "unable Export Hardware XSA as Vitis Custom Embedded Platform Creation Example on KV260"
[code]
vado2021.1
Vi
![2021-12-09 02-13-38屏幕截图](https://user-images.githubusercontent.com/90568145/145261716-6c9fd6a1-b3dd-404b-a6ed-3422d584b59c.png)
![xsa_axi](https://user-images.githubusercontent.com/90568145/145261589-2afae171-2282-4680-bc56-593bae575dd3.png)
![xsa_clk](https://user-images.githubusercontent.com/90568145/145261605-8a40f119-0ddc-46b4-aa2a-a61a51660dab.png)
![xsa_inter](https://

[2021-12-09 03:16] PeanutzZ-zZ commented on #137
Hi, i've solved this problem and i can already calculate two bigInteger. However ,when i run app.exe, terminal prints as follow
[code]
i'm using **xilnx_u250_gen3x16_xdma_3_1_202020_1**,**vitis 2021.2**,**gcc 9.3.0** **OS:ubuntu 20.04.1**
vadd.cpp as follow:
[code]

host.cpp as follow:
[code]

[2021-12-09 14:49] randyh62 commented on #137
Hello,  This may be related to this post:
https://support.xilinx.com/s/question/0D52E00006ihSKGSA2/vitistutorial-%E8%BF%90%E8%A1%8Cappexe%E6%97%B6%E5%81%B6%E5%8F%91-terminate-called-after-throwing-an-instance-of-gnucxxrecursiveiniterror?language=en_US

I believe it is suggesting changing the -lpthread option to -pthread in the g++ command when compiling the host application. Can you see if that wo

[2021-12-10 02:49] imrickysu commented on #140
Hi @dongzhang2021 , could you attach the logs in Vivado console? I wish to check the Tcl command for export and the full error message. Thanks.

[2021-12-10 02:50] #134 closed, assigned to nobody

[2021-12-10 02:52] imrickysu commented on #132
Hi @randyh62 , could you look at this Getting started guide feedback? Thanks.

[2021-12-10 02:58] randyh62 commented on #138
The run_summary is generated when the application/xclbin is run and when the opencl_summary and opencl_trace is specified, or other appropriate options are specified, in the xrt.ini file. It is generated when the application is run, not when it is built. The compile_summary and link_summary are generated when the kernels and xclbin are built.

[2021-12-10 02:58] #138 closed, assigned to randyh62

[2021-12-10 03:01] randyh62 commented on #132
Hi sunhao-seu, I will look into the issue to see what might be going on. In the mean time feel free to say how the tutorial should be optimized.

Thanks,
Randy

[2021-12-10 06:19] dongzhang2021 commented on #140
hi  @imrickysu  ,Is this part of the information?Thank you for your help

1. `start_gui
2. open_project /media/tnt/Workspace/Xilinx/kv260_202101/zc104_202101.xpr
3. open_project /media/tnt/Workspace/Xilinx/kv260_202101/zc104_202101.xpr
4. INFO: [Project 1-313] Project file moved from '/media/tnt/Workspace/Xilinx/zc104_202101' since last save.
5. Scanning sources...
6. Finished scanning sources
7.

[2021-12-10 06:22] dongzhang2021 commented on #140
``

[2021-12-10 08:22] m-kru commented on #138
@randyh62 Is `run_summary` generated also when opencl is not used, solely xrt?

[2021-12-10 09:24] dongzhang2021 commented on #140
@imrickysu Sorry, I closed the question by mistake

[2021-12-10 14:58] randyh62 commented on #138
Yes, but you must have the proper settings in the XRT.INI file. Refer to the following sections of the docs:
https://docs.xilinx.com/r/en-US/ug1393-vitis-application-acceleration/Enabling-Profiling-in-Your-Application
https://docs.xilinx.com/r/en-US/ug1393-vitis-application-acceleration/xrt.ini-File

[2021-12-13 11:29] PeanutzZ-zZ commented on #137
Hello,thanks for your answer.l've solved this problem and runned the code successfully.
:P

Thanks,
PeanutzZ-zZ

[2021-12-13 11:30] #137 closed, assigned to randyh62

[2021-12-15 12:29] xooxit opened #141 "On (2021.2) Vitis-Tutorials/Hardware_Acceleration/Introduction, Hardware Emulation doesn't work"
Hi- I'm trying to reproduce Hardware_Acceleration Introduction in various ways.
So I'm gonna build Hardware Design as hardware emulation mode and
change _Vitis-Tutorials/Hardware_Acceleration/Introduction/design_source/hw_src/config.mk_ file like below

[code]

After changing _config.mk_ file, I follow **Building the Hardware Design** procedure and **Building the Software Design** procedure.
But I

[2021-12-15 17:29] randyh62 commented on #141
I am not sure what the specific problem is based on the approach you have taken. However, you can specify the TARGET=hw_emu and the PLATFORM=xilinx_u200_gen3x16_xdma_1_202110_1 in the Makefile command line:

make TARGET=hw_emu PLATFORM=xilinx_u200_gen3x16_xdma_1_202110_1
v++ --kernel vadd --platform xilinx_u200_gen3x16_xdma_1_202110_1 -t hw_emu -s -g -c -o vadd.xo vadd.cpp
v++ --kernel wide_vadd -

[2021-12-16 02:17] xooxit commented on #141
Thanks for reply

I have tried to specify TARGET and PLATFORM in the Makefile command line and
it ends up like below.

[code]

[2021-12-16 14:23] randyh62 commented on #141
This looks like the build of the xclbin was successful. You still need to run the the application to run the host and xclbin in emulation mode. For example:
[code]

[2021-12-17 02:20] xooxit commented on #141
Thanks for reply

NOw works well, it's the issue of unsetting XCL_EMULATION_MODE environment variable and emconfig.json file

[2021-12-17 02:20] #141 closed, assigned to nobody

[2021-12-17 10:43] canozcifci opened #143 "ERROR: [v++ 60-602]"
Hi,

I am facing a problem when i build vector addition application project.  I can build with Emulation-SW, but when I tried to build with Emulation-HW or Hardware. I got the error:
ERROR: [v\+\+ 60-602] Source file does not exist: /Xilinx/kv260-vitis/platforms/ws/add_vector_00_system_hw_link/Emulation-HW/binary_container_1.xclbin
INFO: [v\+\+ 60-1662] Stopping dispatch session having empty uuid.

[2021-12-17 15:11] imrickysu commented on #143
Hi John,

binary_container_1.xclbin is the output of v++ link. I guess your v++ link doesn't complete successfully. Could you check whether there are any error information?

[2021-12-18 11:31] dongzhang2021 commented on #132
project-spec/meta-user/system-user.dtsi
&sdhci1 {
      no-1-8-v;
      disable-wp;
};

[2021-12-18 11:40] dongzhang2021 commented on #132
project-spec/meta-user/system-user.dtsi
&sdhci1 {
      no-1-8-v;
      disable-wp;
};

[2021-12-20 15:58] dongzhang2021 opened #144 "ERROR: [Common 17-69] Command failed: unmatched open brace in list"
Vitis Custom Embedded Platform Creation Example on ZCU104
Step 1: Create the Vivado Hardware Design and Generate XSA have error

`validate_bd_design -force
WARNING: [BD 41-2589] Platform should have atleast one axi memory mapped master interface. Enable a master AXI interface as platform AXI_PORT.
INFO: [xilinx.com:ip:clk_wiz:6.0-1] /clk_wiz_0 clk_wiz propagate
WARNING: [BD 41-237] Bus Interface p

[2021-12-21 07:46] canozcifci commented on #143
Hi Ricky,

Thanks for the quick reply. I followed the instructions "Vitis 2021.1 Embedded Platform for Zybo-Z7-20" by Mohammad

[here](https://highlevel-synthesis.com/2021/08/15/vitis-2020-1-embedded-platform-for-zybo-z7-20/)

Can you tell me where i can find the necessary error info for v++ link?

Thanks
John

[2021-12-22 17:47] vkomenda opened #145 "The Getting-Started app.exe segfaults on XRT 2.13.0"
I tried the getting started example on my Varium C1100 aka u55n:

https://github.com/vkomenda/Vitis-Tutorials/tree/u55n-getting-started/Getting_Started/Vitis/example/u55n

I have neither u200 nor zcu102 to compare with. The XRT version is 2.13.0 from the Git master branch.

Both `sw_emu` and `hw_emu` end with the same errors in `app.exe`. Here is the listing from a `hw_emu` build:

[code]

Is this

[2021-12-27 02:24] s0897918 opened #146 "next step click error"
Hi there,

At the bottom of this page, there is an error when I click the hyperlink: Click here to Review the Host and Kernel Code, the page didn't jump to the next page at all.

[2021-12-28 02:15] imrickysu commented on #146
Thanks @s0897918 .

Hi @randyh62 , could you update this? https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/Getting_Started/Vitis/Part2.md

[2021-12-28 23:28] randyh62 commented on #146
I have corrected it here and in swm

[2021-12-30 17:33] randyh62 commented on #145
It could be a problem with your setup. Can you provide some additional details with regard to your OS?

I just ran hw_emu on the xilinx_u55n_gen3x4_xdma_2_202110_1 and it built an ran fine. I did have to eliminate the u200.cfg to make it build properly, but that did not cause any issues. The XRT version info is:
XRT Build Version: 2.12.456 (2021.2)
Build Date: 2021-12-14 23:06:37

You can download

[2021-12-30 17:57] vkomenda commented on #145
@randyh62 Here is the output of `xbutil examine` with some OS details. It also shows the problem I'm facing. I described it in my [support forum post](https://support.xilinx.com/s/question/0D52E00006uVLA2SAO/u55n-flashing-the-shell-partition-doesnt-work?language=en_US&t=1640880209936)

[code]

[2021-12-30 18:49] vkomenda commented on #145
@randyh62 Can you please give me a download link for xrt 2.12.456 as in your system. Unfortunately xrt 2.11.634 fails to build the DKMS drivers on Ubuntu 20.04, kernel 5.11.

[2021-12-30 19:20] vkomenda commented on #145
I downgraded the kernel to 5.8.0-63 and that allowed the 2.11.634 DKMS drivers to be built. Also the `sw_emu` example target built OK.

The `hw_emu` target fails with
[code]

I wonder how much version-matching will be required just to get this hello world up and running. I can't use kernels that are old. My hardware is new. My use case requires newer kernels with fixed CVEs.

[2021-12-30 19:27] vkomenda commented on #145
Oh, even though xrt built the DKMS modules, the `xclmgmt` module is useless.
[code]

and in `dmesg` the missing symbols are
[code]

So again the version-matching game is lost on my end.

[2022-01-03 17:54] Akteevy opened #148 "Petalinux (2021.2) fails to build for Vitis Accel flow"
I followed the Vitis platform creation tutorials (parts 1 and 2) here:
https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/step1.md

When running petalinux-build, this error happens:
`| ext_platform:
| Failed to find amba_pl node !!!
| ERROR: [Hsi 55-1545] Problem running tcl command ::sw_device_tree::generate : Failed to find amba_pl node !

[2022-01-04 02:31] imrickysu commented on #148
Hi @Akteevy, could you try to use the Makefile generated XSA?

[code]

Hi @sven2314 , could you help to investigate and follow up?

[2022-01-04 02:47] imrickysu commented on #146
Fixed by ad53e07d22c55e95ff95182784a859df9ec771ad

[2022-01-04 02:47] #146 closed, assigned to randyh62

[2022-01-04 03:19] imrickysu commented on #144
Hi @dongzhang2021 , I cannot reproduce this issue on Vivado 2021.2, on Linux or Windows.

I see you are using Windows and did some changes to the block design. Could you try to launch Vivado 2021.2 Tcl Console and run the following command to test with the reference files?

[code]

Here's a a part of the log I see my end.

[code]

[2022-01-04 19:29] Akteevy commented on #148
I tried the above and failed, but... at fetching with git. See log attached.
Then I went into the petalinux folder inside step2, ran petalinux-build (previously changed it to use cache downloads) and completed without errors.
So there is something different in my configuration, even if I looked at it a number of times.
[build.log](https://github.com/Xilinx/Vitis-Tutorials/files/7809948/build.log)

[2022-01-04 21:00] Akteevy commented on #148
I opened the vivado project created by make as above and noticed the interrupt controller was implemented while I didn't have it (apparently is optional). I rebuilt my project with the interrupt controller but got exactly the same error, so another suspect cleared.
I also had the suspicion of the package set, as I had to fiddle a bit to install libsdl2-dev (downgrading some other packages), but th

[2022-01-05 08:05] imrickysu commented on #148
Hi @Akteevy , your build.log says fetch failed because "github.com (port 9418) (Temporary failure in name resolution)". Please check your network settings.

To quickly test whether your XSA caused the device tree generation error, you can use the script here: https://github.com/Xilinx/Vitis_Embedded_Platform_Source/blob/2021.2/Xilinx_Official_Platforms/xilinx_zcu102_base/sw/prebuilt_linux/Makefile

[2022-01-05 08:11] imrickysu commented on #143
Hi @canozcifci , if you select the hw_link component under the system project, it will show you related building info.

When selecting the system project, it only shows you the packaging related info.

[2022-01-05 08:15] imrickysu commented on #139
Hi @m-kru , Vitis HLS uses tcl scripts to control the workflow. You can regenerate a Vitis HLS project with commands like `vitis_hls -p xx.tcl`

More info: https://www.xilinx.com/html_docs/xilinx2021_1/vitis_doc/vitishlscmd.html#wic1584802485878

[2022-01-05 08:16] #139 closed, assigned to nobody

[2022-01-05 08:21] imrickysu commented on #145
Hi @vkomenda , XRT 2021.2 was tested with kernel 5.4 on Ubuntu 20.04 because HWE is not supported.
Please refer to the tested version details in answer record https://support.xilinx.com/s/article/XRT-Xilinx-Runtime-version-2021-2-2-12-Tested-Operating-Systems?language=en_US and XRT release notes https://www.xilinx.com/content/dam/xilinx/support/documentation/sw_manuals/xilinx2021_2/ug1451-xrt-rele

[2022-01-05 08:26] sven2314 commented on #148
@Akteevy
I tested your trial with setting it as Vitis extensible platform. when building PetaLinux I did not encounter your error. I want know your ENV. Can you tell me the version you are using of Vivado , also Vitis ? If possible can you share me your Vivado project. I want to reproduce your phenomenon.

[2022-01-05 11:01] keryell commented on #145
Yes, it would be nice to have support for modern software too.

[2022-01-05 18:50] Akteevy commented on #148
Hi @sven2314 , I'm using 2021.2 release installed on a Ubuntu 20.04.1.
Attached is the TCL for the vivado project

[project.tar.gz](https://github.com/Xilinx/Vitis-Tutorials/files/7817103/project.tar.gz)

[2022-01-06 06:47] sven2314 commented on #148
Hi, @Akteevy
I tried your project with error that could not find board definition. I checked the TCL file and found you were using board from Myir. As I do not have this board file in my Vivado. So in order to go on to find the root cause please share your board file for Vivado.

[2022-01-06 08:40] Akteevy commented on #148
Hi @sven2314
That's true, attached are the boards files, to be untared to <Vivado install folder>/2021.2/data/boards/board_files/

[ultramyir.tar.gz](https://github.com/Xilinx/Vitis-Tutorials/files/7820509/ultramyir.tar.gz)

[2022-01-06 13:30] Candice-Yin commented on #68
Hi, I met the same problem, and then I modified it in your way. And I have another question, do you have any ideas? Thank you.

[2022-01-06 13:33] Candice-Yin commented on #68
@imrickysu
Hi, I met the same question, and I modified it in this way. But then I have another question, do you have any ideas? Thank you.
![image](https://user-images.githubusercontent.com/71826731/148390564-9c0ab78d-e62e-4499-829d-665cb7b8115f.png)

[2022-01-06 14:09] Akteevy commented on #148
I tried applying the tutorial makefile (with the only difference to use the cached sstate and downloads) to a project built for the zcu104 with the same error, so I guess the problem is in the Vivado side/ XSA.

I finally got petalinux to build the image, and I think the significant difference is that **I exported the XSA with the TCL command and not with the GUI**. I'd suggest to double check tha

[2022-01-06 14:39] imrickysu commented on #68
Hi @Candice-Yin , in your modified makefile, `package.out_dir` is being treated as a makefile target. Maybe you added an extra new line. Please check.

[2022-01-07 07:02] Candice-Yin commented on #68
I solved it. Thank you very much! @imrickysu
During hardware emulation, I have an error about `./package/launch_hw_emu.sh`. Could you please have a look at it?
![6c3848699a9bb3637843105213f4893](https://user-images.githubusercontent.com/71826731/148504995-6c1a3b76-af91-4751-8775-0355317cdd21.png)

[2022-01-07 07:07] imrickysu commented on #68
Hi @Candice-Yin , I don't see a hard stop error in your messages.  Your Linux has boot up. There are some application level errors. Your Linux system should still work. If you hit enter, it should show you the input cursor.

[2022-01-07 07:14] Candice-Yin commented on #68
hi @imrickysu , it displayed “ Current directory: 0" when I continued typing.
![3c6a82ce12df8b5931bcb27bf076693](https://user-images.githubusercontent.com/71826731/148506282-c8e702d4-ca00-4044-bd65-3885903e8983.png)

[2022-01-07 07:16] imrickysu commented on #68
@Candice-Yin  It's a valid error message. Please add your xclbin file as an argument to app.exe.

[2022-01-07 07:55] Candice-Yin commented on #68
@imrickysu You helped me a lot, thx!

[2022-01-07 08:16] Candice-Yin opened #149 "Could not find the input file when running the program during hardware emulation"
I used absolute path when I created my host program as show below:
![image](https://user-images.githubusercontent.com/71826731/148512871-8d4141c5-f614-41a6-8008-094407c79c25.png)
But when running the program using "./app.exe" during hw_emu, it displayed as show below:
![5688338d5064821ca24b756dd4be1a0](https://user-images.githubusercontent.com/71826731/148513084-50d74f22-d77f-497a-a6ac-58dbb0ccfbe

[2022-01-07 09:27] imrickysu commented on #149
Hi @Candice-Yin , please provide evidences that these files exist in your emulation environment.

Please note that these files should be in your rootfs, not on your x86 host machine because hardware emulation cannot access x86 filesystem.

It's better to add your files in sd_dir so that these files can be packaged into FAT32 partition of sd_card.img. These data files will be in the same directory

[2022-01-07 11:46] Candice-Yin commented on #149
Thank you @imrickysu I solved it.
I‘m not sure about one thing: how can I connect the data files that host progam reads with the input data that the source code for the kernel needs? By the same  name of variables?

[2022-01-08 14:33] sven2314 commented on #148
Hi, @Akteevy
I tried your project with Myir board file added. After running one time automation  I exported the platform with two methods. One was GUI and other one was command line. Both were ok for PetaLinux compilation.  If you need I can share my project ZIP file. Or if you are convenient please share your project ZIP file. So that I can open the project directly and  help to check the differe

[2022-01-10 03:08] imrickysu opened #150 "AIE A to Z: Host application may crash with std::bad_alloc"
AIE A to Z design prints error message like this

[code]

[2022-01-10 03:09] imrickysu commented on #150
This is an error for out of memory when malloc from heap. Increasing heap to > 1MB in [step4 ](https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/AI_Engine_Development/Feature_Tutorials/01-aie_a_to_z/04-ps_application_creation_run_all.md)can solve this issue.

Details in the tutorial will get updated soon.

[2022-01-10 05:46] imrickysu commented on #149
Sure. I'm closing this issue.

For the question about feeding data to kernel, please read docs about your kernel API. Data in user space and kernel space are separated. It needs one data copy to send data from user space to kernel space, or use kernel API to allocate memory space and fill in data to the data pointer.

[2022-01-10 05:46] #149 closed, assigned to sven2314

[2022-01-10 09:56] Akteevy commented on #148
Unfortunately and because of lack of space in the VM I deleted the project that built. I've been trying to replicate it but didn't succeed. I don't think now that exporting with the command makes a difference. I also tried building the XSA in windows but got the same result. I have been using the cached sstate, I will next try the slow way.

[2022-01-10 16:20] m-kru commented on #139
@imrickysu I have realized that when I use `--hls.export_project arg` the kernel file is not compiled, solely the .tcl script for project regeneration is created. Is it desired behavior? It breaks Makefile targets pipe. One needs separate target for project regeneration, it can not be done during the compilation in "by the way" fashion.

[2022-01-11 02:48] imrickysu commented on #139
Hi @m-kru , it's the expected behavior.

Project recreation and project build are separate build targets. User can either append build commands to the HLS project tcl, or use new Makefile targets to build the project. Splitting the actions to finer steps make it easy to control because user can easily add more actions in their workflow but it's not easy to stop in between.

[2022-01-11 11:11] Casper-Min opened #152 "Error when running Hardware_Acceleration/Introduction/guided_sw_examples tutorial"
Hi, I got error when running guided_sw_examples tutorial using U250, vitis 2021.1 on CentOS7 server.

![image (2)](https://user-images.githubusercontent.com/83194777/148931174-9ba0efa2-57c0-46e6-9b9a-0028d057bf61.png)

From the log, I found that m_axi port bundle name doesn't match between connectivity_u250.ini and wide_vadd.cpp

![image](https://user-images.githubusercontent.com/83194777/14893168

[2022-01-11 11:20] Casper-Min commented on #152
And I also have question for using vitis vision library.

![image](https://user-images.githubusercontent.com/83194777/148932818-85372716-3766-465b-abac-f2cd1bd8c92e.png)

 First I got errors for missing header (common/xf_common.hpp), I couldn't find way to import this header, I git cloned Vitis_Libraries(https://github.com/Xilinx/Vitis_Libraries) on hw_src folder.
After that, I passed error above

[2022-01-11 12:54] m-kru commented on #139
@imrickysu if I recreate the project, then build it and then open the Vitis HLS GUI. Should I see the build results?

[2022-01-11 15:16] whyaysd opened #153 "Does Vitis support VCK5000?"
Does Vitis support VCK5000 platform?

Could you please give me an example project targeting vck5000?

[2022-01-11 15:22] Premduth commented on #153
@allyzhou  can you comment?

[2022-01-12 07:48] nediver opened #156 "Getting Started Vitis Example U50 hw error"
Hello. I'm working on an example from the link below.

https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/Getting_Started/Vitis/Part4-data_center.md

However, when I run the following command, the following error occurs.

~/Vitis-Tutorials-2021.2/Getting_Started/Vitis/example/u50/hw$ ./app.exe
terminate called after throwing an instance of 'xrt_xocl::error'
  what():  No devices found
Aborted (

[2022-01-13 04:54] whyaysd commented on #153
@Premduth  @allyzhou  Could you please give me some advice?

[2022-01-13 07:28] #150 closed, assigned to sven2314

[2022-01-13 08:53] allyzhou commented on #153
@whyaysd depends on different versions of VCK5000 boards and platforms, Vitis provide different levels of support. If you have VCK5000 for Vitis AI, the demo are publically accessible at https://github.com/Xilinx/Vitis-AI. Other than Vitis AI on VCK5000, we don't have public accessible tutorials/examples. We do have a plan to release a Vitis tutorial on VCK5000, but it will only be an EA version t

[2022-01-13 08:57] allyzhou commented on #156
dmesg log should be able to give you some hit on what's wrong. BTW, did you examine the U50 using xbutil validate?

[2022-01-13 15:41] whyaysd commented on #153
Thanks for your information.

I am participating in the Adaptive Computing Challenge 2021 hosted by Xilinx: https://www.hackster.io/contests/xilinxadaptivecomputing2021. I need to use VCK5000 to finish my work, and I need to use Vitis to implement my functions.

I have got the EA version of VCK5000 from xilinx and I have access to the secure site: https://www.xilinx.com/member/vck5000-aie.html#ove

[2022-01-13 18:53] Akteevy commented on #148
After running this script (https://support.xilinx.com/s/article/73296?language=en_US) to check the installed packages it did some changes on them and I was able to build the example for zcu104 board with make step1 step2 (even if I modified them to use the cache sstate). But still I can't build a similar project for this MYIR board (MYD-XCZU3EG). I even tried changing the makefiles and tcl to buil

[2022-01-14 12:14] Candice-Yin opened #163 "launch_emulator: command not found"
When I input the order "./launch_hw_emu.sh", it dispay as follows:
![1642162481(1)](https://user-images.githubusercontent.com/71826731/149513945-20c27718-5d99-4709-9a19-814c0ad83df1.png)

[2022-01-14 14:23] randyh62 commented on #163
It looks like the `$PATH` is not setup properly as the `launch_emulator` command should be accessible from the Vitis installation. This is usually configured when the environment is setup with the `settings.sh` script. The `launch_hw_emu.sh `script is generated by the v++ command during the build process, and should not need to be run under `sudo`.

[2022-01-14 20:06] paulscooper commented on #102
I had this same issue. Its resolved now for me by doing the following.....

At the end of 04.Step 2, before you build A-to-Z_app (Hardware) do the following
1) Right Click on A-to-Z_app > Generate Linker Script
2) Change Heap Size from 1k to 1000k
3) Change Stack Size from 1k to 1000k
4) Click Yes when it prompts you to overwrite.
5) Finish Tutorial

[2022-01-14 20:21] paulscooper opened #164 "HW Boot Issue - 01-Versal_Custom_Thin_Platform_Extensible_System - 2021.1"
https://github.com/Xilinx/Vitis-Tutorials/tree/2021.1/Developer_Contributed

This project is almost completely script based so I am struggling to see where I went wrong.
I dd the sd_card.img to my SD card, and when I boot it hangs after about 10s.

Anyone else experience this ?
If its not just me, anyone have a fix?

Thanks

INIT: version 2.97 booting
Starting udev
[    6.799041] udevd[222]: start

[2022-01-15 07:34] Candice-Yin commented on #163
@randyh62 Hi! I set up the $PATH as follows:
![359e025d501dba521d73f82089a8997](https://user-images.githubusercontent.com/71826731/149613692-9ca0b15b-88f7-4bfb-bdeb-c3e619c9462a.png)
![bfead91e94d6f370755a47d67ef00e8](https://user-images.githubusercontent.com/71826731/149613700-d5ef51bd-d995-4bf7-875a-4b1402eb57de.png)
The strange thing is that I succeeded in this step before.

[2022-01-15 21:27] BrunoVandeveldeXilinx commented on #164
Be aware that default it builds for an es1-board, so you need to modify a line in the main Makefile (see README.md) for pre-production board!

export DEVICE_NAME      := xcvc1902-vsva2197-2MP-e-S-es1

Change to

export DEVICE_NAME      := xcvc1902-vsva2197-2MP-e-S

We did not encounter any issue so far (if you select the right board), and has already been tested on quite some different boards!

[2022-01-16 14:45] randyh62 commented on #163
It looks like your setup is correct. Not sure why it would work one time and not the next.  Can you type "which launch_emulator" and see what is returned?

[2022-01-16 21:33] Akteevy commented on #148
I could finally go past that error by selecting 'Remove PL from device tree' in the general config -> DTG Settings. At least I can create the Vitis platform and compile an example. Not booting yet as I have some problem with the rootfs location, but doesn't seem a deal breaker.

[2022-01-17 02:10] imrickysu commented on #102
Thanks @paulscooper .

The AtoZ tutorial is also updated with this instruction in https://github.com/Xilinx/Vitis-Tutorials/commit/c1885ba961f07a5c5f4d207bbdc3f565e176e127

The current version should be correct now. https://github.com/Xilinx/Vitis-Tutorials/blob/e4f7ce79838afe3d8884f51e1834ab0460c5a7a6/AI_Engine_Development/Feature_Tutorials/01-aie_a_to_z/04-ps_application_creation_run_all.md

[2022-01-17 02:10] #102 closed

[2022-01-17 13:52] Candice-Yin commented on #163
I find that the problem is about user rights. Thank you. @randyh62

[2022-01-17 13:52] #163 closed, assigned to nobody

[2022-01-17 14:51] whyaysd commented on #153
@Premduth Could you please give me some help?

[2022-01-17 20:23] paulscooper commented on #164
Yep, I had already changed this and build for pre prod board. Can I ask it you have tried it with 2021.1?

I won't get back to it until Tuesday, but will re-do the entire process from scratch. Apart from Linux build its pretty fast :)

[2022-01-18 08:22] BrunoVandeveldeXilinx commented on #164
Yes, the tutorial has been created in 2021.1, and has been tested a lot with that version.
If you have the option to use 2021.2, then it's even better, since some clocking issues where resolved within that version!
You can find the 2021.2 tutorial in: https://github.com/Xilinx/Vitis-Tutorials/tree/2021.2/Developer_Contributed/01-Versal_Custom_Thin_Platform_Extensible_System

Indeed, the Linux buil

[2022-01-18 08:30] allyzhou opened #165 "Missing images of 07-AI-Engine-Floating-Point"
The images are missing in this MD file
https://github.com/Xilinx/Vitis-Tutorials/tree/2021.2/AI_Engine_Development/Feature_Tutorials/07-AI-Engine-Floating-Point
due to the bad link, an " was accidently added to all the image links.

[2022-01-19 07:13] #165 closed, assigned to allyzhou

[2022-01-19 08:18] Candice-Yin commented on #132
@sunhao-seu Hi, I have the same error with you. Have you solved it?

[2022-01-19 08:21] Candice-Yin opened #168 "Getting Started ZCU102. FAT-fs (mmcblk0p1): Directory bread(block 2048028) failed"
Hi, I meet an error when I take the last step. @imrickysu
![756edba4d52167a0338289e1586a757](https://user-images.githubusercontent.com/71826731/150091507-1bc9c06a-6dfb-4c89-90c0-6cd13c509a28.png)

[2022-01-19 08:23] sven2314 commented on #148
@Akteevy Hi, I checked the project directory which use your board file. There is system-top.dts.
By the way Could you share the name you set for the machine when you set the machine name in Step2?

[2022-01-19 13:09] #168 closed, assigned to nobody

[2022-01-19 13:19] Candice-Yin opened #171 "Kernel Panic: Unable to handle kernel paging request at virtual address"
Hi, I completed hw_emu successfully. But when I ran the accelerated application on the ZCU102, I met an error:
![e7ee019126a9317ca376f62ed206f05](https://user-images.githubusercontent.com/71826731/150138445-3b92d0d3-60ef-44e6-a228-483a8cd0f3ee.png)
@imrickysu Thank you.

[2022-01-19 15:03] allyzhou commented on #152
@randyh62 can you take a look at this issue, Thanks.

[2022-01-19 15:59] Premduth commented on #164
@paulscooper believe you are already doing this, although wanted to confirm. When targeting 2021.1, make sure you are changing the branch to 2012.1.. The default is 2021.2 and the 2021.2 branch is not compatible with the 2021.1 release.. We regress the branches against the releases..

In addition agreed with @BrunoVandeveldeXilinx . If possible it is better to switch to 2021.2 as there are a lot o

[2022-01-19 16:26] BrunoVandeveldeXilinx commented on #164
@Premduth In the tutorial we check the version (Petalinux, Vivado and Vitis)! As long as @paulscooper did not disable that, should be no problem.

[2022-01-19 17:31] Akteevy commented on #148
I left the board name as 'template' being a non-supported board (I think it just fails and pops that as an error if using any board name not in the list in the petalinux manual).
Now I just checked there is a system-top.dts generated (in the folder above) **for the case where I excluded the PL** from the device tree in the configuration. In that case, petalinux and Vitis build without problem.

[2022-01-21 00:41] randyh62 commented on #152
Hi Casper, The tutorials uses the Vitis_Libraries/vision/L1/include as indicated in the design_sources/hw_src/Makefile:
`VISION_LIB_FLAGS := -I. -I./Vitis_Libraries/vision/L1/include --config vision_config.ini`

The installation and setup instructions are kind of vague (missing) on this point, but you can find the required file here:
[https://github.com/Xilinx/Vitis_Libraries/tree/master/vision/L1

[2022-01-21 05:26] Casper-Min commented on #152
Hi, randyh62. Thank you for fast reply.

Modify Vitis_Libraries path is a good solution for further tutorial examples.

I did make clean and ran it again. I finished it successfully without any error after that.

Below is my connectivity_u250.ini (which I finished build sucessfully)

![image](https://user-images.githubusercontent.com/83194777/150470406-15e338e7-d75a-4781-b6ad-aab2fdb71b4b.png)

I

[2022-01-21 22:55] imrickysu commented on #171
Hi @Candice-Yin , from the kernel panic message, it looks like to be related to Ethernet driver (macb) during moving data (dma). It's hard to say whether the issue comes from driver code or application code. But if you have network data movement in your application, please try remove them and only deal with local data first. Please let me know if this error still happens when dealing with local da

[2022-01-24 19:50] randyh62 commented on #152
Thanks Casper. I am going to update the ini files as you have suggested and close this issue.

Regards,
Randy

[2022-01-24 19:50] #152 closed, assigned to randyh62

[2022-01-25 06:57] sunhao-seu commented on #132
This is my solution: https://gitee.com/sunhao2020/vitis_tutorial_zcu102.git

[2022-01-25 16:31] IvoBrandao commented on #140
I have the same behavior in 2021.2 version
Is there a fix for this issue?

[2022-02-03 19:02] Akteevy commented on #148
I could complete building and running a Vitis accelerated application, and I think it is necessary the above (selecting the 'remove PL from device tree') in the dTG settings, now creating a detailed tutorial that I'll publish.

[2022-02-14 09:41] jiajiahao0619 opened #186 "g++: error: unrecognized command line option ‘-std=c++14’"
I am running the 2021.2 branch.
It is normal until run the make host command. It is so kindly that tell me how to fix it? or it doesn't matter for the project?

![image](https://user-images.githubusercontent.com/30894220/153839183-6ac6b9b6-88f4-46ae-8d9c-3bb60e9fced3.png)

[2022-02-14 14:42] imrickysu commented on #186
Hi @jiajiahao0619 , Vitis doesn't ship `g++` in its installer. Host application compilation uses the system default GCC/G++.
It's possible that on CentOS/RHEL, default GCC doesn't support C++14. If you'd like to use `-std=c++14`, please upgrade your system GCC version.

[2022-02-18 13:54] JieGH commented on #126
I am having the same type of error.

I'm using Vitis 2021.2
I am using version of Vitis-Tutorials is
https://github.com/Xilinx/Vitis-Tutorials/commit/1f26cb39917da856b13533ffd41934973f20e0ca

[2022-02-19 20:24] minertom opened #188 "ERROR: [v++ 60-602] Source file does not exist: binary_container_1.xclbin"
Been working on this several days.

Started a new drive with a fresh install of ubuntu 18.04 and petalinux. Nothing else is on this drive, unrelated to xilinx.

Using Vitis 2021.2.

Followed the installation directions in this tutorial. Started the tutorial from scratch.

Generated the zcu104_custom.xsa file.
Did the petalinux configuration and build.
Created the zcu104_custom platform project and

[2022-02-19 22:33] minertom commented on #188
I fixed this by running the y2k22_patch.

[2022-02-19 22:33] #188 closed, assigned to nobody

[2022-02-21 02:57] imrickysu commented on #186
Hi @jiajiahao0619 , BTW, if you're working on an embedded application, this error may indicate that you didn't setup toolchain and SYSROOT properly. Please check the environment setup guidance of the tutorial you are referring to.

[2022-02-21 09:14] jiajiahao0619 commented on #186
Thanks @imrickysu  It is really helpful for me. it is normal now.

[2022-02-21 09:35] #186 closed, assigned to nobody

[2022-02-21 13:08] JieGH commented on #126
see Xilinx Form
https://support.xilinx.com/s/feed/0D52E000070qVHZSA2

This is a standing issue to be solved.
However, a workaround is to run the program manually

-> go into the package directory and run:
`./launch_hw_emu.sh
`
-> After executing .sh file
[code]

Should expect

[code]

[2022-02-24 10:31] nielsvanetten opened #193 "Error Vitis Analyzer - tutorial: 13-aie-performance-analysis"
https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/AI_Engine_Development/Feature_Tutorials/13-aie-performance-analysis/aie_execution_measurement.md

When opening the trace file tap in vitis_analyzer I receive the error: /tmp/vitis_analyzer/[user]/system.wdb is not a valid trace report file.
Using fedora release 34.
Vitis 2021.2.

[2022-02-24 14:46] #171 closed, assigned to imrickysu

[2022-02-24 14:47] imrickysu commented on #156
Since there are no active following up posts, I'm closing this issue. If you still need help in this issue, please reopen this issue.

[2022-02-24 14:47] #156 closed, assigned to nobody

[2022-02-24 14:52] imrickysu commented on #148
It's good to see you have a workaround. Disabling PL device tree generation can bypass DTG errors and continue the build process. The pre-built source code can work without errors.
To debug the DTG issue, you can use the standalone DTG with Vitis IDE or XSCT.

[2022-02-24 14:52] #148 closed, assigned to sven2314

[2022-02-24 14:53] #144 closed, assigned to sven2314

[2022-02-24 14:57] imrickysu commented on #140
Hi @IvoBrandao , Dongzhang created another thread in https://github.com/Xilinx/Vitis-Tutorials/issues/144 but didn't add more reply. May I know which OS you're running? Is it Windows or Linux? Is there any modifications you made based on the reference files?

[2022-02-24 15:26] nielsvanetten commented on #193
seems there is some weird mapping going on, if i make that directory and put the system.wdb and .wcfg files in that directory it works. Is there any way to configure the vitis_analyzer where it looks for these files?

[2022-02-25 07:41] AlphaBu commented on #193
Hi, @nielsvanetten Could you try run following command before opening Vitis Analyzer:
**vcdanalyze --vcd=foo.vcd --wdb --ctf**
Then see if this issue is still there?
It can not be reproduced for me. Not sure if it's related to Linux version.

[2022-02-26 15:24] IvoBrandao commented on #140
@imrickysu I'm running Ubuntu 20.04. I tried to create the platform from scratch, so I might have made some mistakes. I just started the Vivado project again and this time everything worked, as the tutorials mention. The weird thing is that I follow the same steps. So not sure why this problem appears. Anyway, thanks for following up on the question :+1:

[2022-02-28 06:16] charles-str commented on #61
scripts/darknet_convert.sh在哪里？没有找到呢，谢谢

[2022-02-28 06:28] imrickysu commented on #61
Do you mean this file? https://github.com/Xilinx/Vitis-AI-Tutorials/blob/master/Design_Tutorials/07-yolov4-tutorial/scripts/darknet_convert.sh

@charles-str , please ask Vitis-AI related questions in https://github.com/Xilinx/Vitis-AI-Tutorials/issues. It would be easier for other uses to find related issues.

[2022-02-28 06:41] charles-str commented on #61
thanks&nbsp; so much.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Xilinx/Vitis-Tutorials"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年2月28日(星期一) 下午2:28
***@***.***&gt;;
***@***.******@***.***&g

[2022-02-28 08:15] nielsvanetten commented on #193
it work when i do the command **vcdanalyze --vcd=foo.vcd --wdb** and then put the files in this tmp folder. Not sure why vitis analyzer is looking in that folder for the file and how i can change it.

[2022-03-02 08:32] allyzhou commented on #153
Vitis flow is supported on VCK5000 Prod card,  https://www.xilinx.com/products/boards-and-kits/vck5000.html

[2022-03-02 08:32] #153 closed, assigned to allyzhou

[2022-03-02 10:45] xflorentw commented on #193
I am wondering if this issue is not due to the workdir not set (this is why the output is sent to /temp)

![image](https://user-images.githubusercontent.com/44667405/156346938-fab89b73-2f69-475b-8fbb-a5a9ba734957.png)

[2022-03-02 11:51] nielsvanetten commented on #193
that did the trick. Thank you!

[2022-03-02 11:51] #193 closed, assigned to nobody

[2022-03-02 13:41] xflorentw commented on #193
Great

@AlphaBu Can you update the Makefile accordingly?

[2022-03-03 23:30] allyzhou commented on #126
Issue fixed with the commitment https://github.com/Xilinx/Vitis-Tutorials/commit/4bc0a98f5dc78e76f3186bf55a5972beabf451f7

[2022-03-03 23:30] #126 closed

[2022-03-04 15:19] imrickysu opened #200 "PFM: explain more about platform_repo in step4"
https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/Vitis_Platform_Creation/Introduction/03_Edge_VCK190/step4.md says:

Select the directory that [step3](https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/Vitis_Platform_Creation/Introduction/03_Edge_VCK190/step3.md) generates. For example ref_files/step3_pfm/platform_repo

But in step3, there no description mentions this directory. It's gener

[2022-03-04 15:27] imrickysu opened #201 "PFM ZCU104: incorrect system-user.dtsi path"
https://github.com/Xilinx/Vitis-Tutorials/blob/2021.1/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/step2.md says:

You can also add your custom device tree modifications to project-spec/meta-user/system-user.dtsi

This path is incorrect. It might be project-spec/meta-user/recipes-bsp/device-tree/files/system-user.dtsi

Please confirm and update.

[2022-03-05 14:32] ombhilare999 commented on #153
@allyzhou when will be vitis flow supporting vck5000 es1 card?

[2022-03-07 00:17] Premduth commented on #153
There are no plans to support a Vitis flow for the es1 card. In order to use the Vitis flow you have to be on the VCK5000 production card.

[2022-03-07 04:29] tiny-dentist commented on #153
@Premduth when you mean no plans to support Vitis flow for the ES1 card, do you mean there will be no examples provided for it? If I remember correctly the ES1 card supports Vitis 2020.2 and there are plans for updated shells which will allow it to be used with Vitis 2021.1.1 .

[2022-03-07 04:33] Premduth commented on #153
Correct no new Vitis examples will be provided for the es1 card.

[2022-03-07 04:37] tiny-dentist commented on #153
@Premduth  So just confirming it is possible to access the AIE kernel and implement Hardware accelerated Pre-Post processing with Vitis 2020.2 but there are no tutorials present for it. Is this correct?

[2022-03-09 02:10] sven2314 commented on #200
Hi,  Ricky
I filed a PR about unifying the platform repo.

[2022-03-09 03:15] sven2314 commented on #201
Hi, Ricky
I confirmed the <project-spec/meta-user/recipes-bsp/device-tree/files/> directory is right. And filed a PR to 2021.1 and 2021.2 version.

[2022-03-09 09:09] allyzhou commented on #153
no plan to update ES1 platform to make it work with Vitis newer version, and we have no plan to provide any Vitis end-to-end design examples on VCK5000 ES1 platform.

[2022-03-09 09:12] ombhilare999 commented on #153
okay does that mean using the current shell I can access AIE cores using vitis 2020.2 version?
Can we follow the vck5000 production or alveo card's end-to-end example and replicate the results for vck5000 es1 card on current shell + vitis 2020.2 version?

[2022-03-09 09:22] allyzhou commented on #153
I don't think your shell version can work with 2020.2 Vitis, if you're using Vitis AI, the download page will provide you the detailed Vitis, XRT, and platform version, please strictly follow that. Other than what we announced, we have no plan and no resource for enough regression test run to guarantee the other combinations of tools and platforms will work.

[2022-03-09 09:39] imrickysu commented on #201
2021.2 fix: https://github.com/Xilinx/Vitis-Tutorials/pull/209

[2022-03-09 09:40] imrickysu commented on #200
Fix with https://github.com/Xilinx/Vitis-Tutorials/pull/209

[2022-03-09 09:40] #200 closed, assigned to sven2314

[2022-03-09 11:19] JieGH opened #210 "LeNet Versal AIE simulation stalls"
Hi,

I build and ran the AI Engine simulation for the cores used in https://github.com/Xilinx/Vitis-Tutorials/tree/2021.2/AI_Engine_Development/Design_Tutorials/01-aie_lenet_tutorial

The build was successful, run output matched with reference. However, the core execution never end, program stall at main.

Did anyone also experience this ?

[code]

[2022-03-14 15:20] xflorentw commented on #210
What OS are you using?
How long did you wait for the simulation to complete?

Also, you are only running AIE simulation right? Is it using the makefile? I do not see the option... (so this is not supported officially if not in makefile)

If this is not running the makefile, then you can see in graph.cpp that there is not iterations set in graph.run() so the graph will run indefinitely. You need to

[2022-03-14 15:47] JieGH commented on #210
- Ubuntu 18.X
- Vitis2021.2
- GUI mode
-

## Before implement your solution
design based on the "simple" AIE example, run and exit correctly.

Then I replace the "simple" design with LeNet core1 (MAC operation on AIE) design

graph.run() // no argument, tried argument 1, also stall

Run/run+trace, Wait 10-20 minutes, correct output will generate in the first minute of run. By analyzing the trace,

[2022-03-14 16:28] Seyyidosman commented on #143
Hi, I am also facing with this problem. Please help me!

Seyyid

[2022-03-15 14:18] xflorentw commented on #210
Hi @JieGH

You might have forgotten to rebuild the aie application after adding 1 interation for graph.run() in graph.cpp because this is working for me with it. The simulation is exiting

[2022-03-15 14:26] JieGH commented on #210
@xflorentw
Thanks. You are right on this.

[2022-03-15 14:26] #210 closed, assigned to nobody

[2022-03-16 10:59] xooxit opened #214 "Vivado reports `'set_property' expects at least one object` when doing HwAccel/Design/05-buttom_up_rtl_kernel"
While building the `Hardware_Acceleration/Design_Tutorials/05-bottom_up_rtl_kernel/krnl_aes` project, I got some errors at the stage of FPGA logic optimization. My vitis version is 2021.2 and Ubuntu version is 18.04.

I found some advice related to the Error below, and they said created HDL wrapper, but hmm.. anyway, is there any guy who gets a similar error like this?

[code]

[2022-03-16 14:46] BrunoVandeveldeXilinx commented on #164
@paulscooper can you close this item if you are not longer affected or no longer need this? Thanks!

[2022-03-17 08:11] nielsvanetten opened #215 "explanation confusing example: 02-using-gmio"
At the bottem of: https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/AI_Engine_Development/Feature_Tutorials/02-using-gmio/single_aie_gmio.md

Its stated:
[code]
When working with the VCK190, do they mean booting the VCK190 with a petalinux version installed on the SD card and then running these commands from your own Linux PC ?

[2022-03-17 12:44] Ydrsmart opened #216 "i can not find rootfs.ext4 in zcu104_custom_plnx/images"
i can not find the file named rootfs.ext4 in zcu104_custom_plnx/images/  when i follow the step4。

[2022-03-20 06:54] AzzHub opened #219 "Emulation-HW stalls for Hw_Accel\Introduction\03-Algorithm_Acceleration\docs\module1_baseline"
I import the project according to the readme. I can run Emulation-SW correctly and fast,  while the Emulation-HW is very slow even runs longer than ten hours!
The only step defferent to the readme is I add a  Program Arguments : `-xclbin /home/module1baseline/cholesky_system/Emulation-SW/binary_container_1.xclbin`.
PS1: Emulation-HW is very slow even I add  Argument:  `-M 1 -N 1`.
PS2: The Debug c

[2022-03-20 07:26] AzzHub commented on #219
I added some printf for checking, and found that:
    the program stalls at `q.finish()` in line 172(in "test.cpp")
[code]

[2022-03-21 02:16] imrickysu commented on #216
rootfs.ext4 is generated by step 2 PetaLinux settings
- Add EXT4 rootfs support (Optional but recommended)
- Build PetaLinux Images

Please check your PetaLinux project settings.

[2022-03-21 02:18] imrickysu commented on #216
Hi @sven2314 , maybe we should remove the comment of "Optional but recommended" for "Add EXT4 rootfs support" because the following instructions depends on ext4.

[2022-03-21 02:19] imrickysu commented on #215
Please run these commands on VCK190 Linux.

[2022-03-21 02:25] imrickysu commented on #215
Hi @AlphaBu , `export XILINX_XRT=/usr` is not needed for embedded acceleration. Could you update the instructions while clarifying this issue?

[2022-03-21 02:28] imrickysu commented on #214
Hi @Rampagee , could you please take a look and check whether you can reproduce this issue?
It seems some properties is empty in the tcl script `impl_1/_full_place_pre.tcl`.

[2022-03-21 02:47] #201 closed, assigned to sven2314

[2022-03-21 12:19] #215 closed, assigned to AlphaBu

[2022-03-21 22:07] randyh62 commented on #219
I have tested it and it took about 15 minutes to complete the hw_emu run as you can see from the attached screenshot. The build itself took one hour 8 minutes as you can also see reported toward the top.

Perhaps there is an issue with your system memory or OS? Can you provide a few details about the configuration of your environment?
![cholesky-module1-baseline-hw_emu](https://user-images.githubu

[2022-03-22 00:25] #164 closed, assigned to BrunoVandeveldeXilinx

[2022-03-22 00:31] delorytheape opened #220 "2021.2 - AIE - design tutorial - 09 post-link-recompile - VitisIDE_flow . step 16 needs updating?"
Hi,
While following https://github.com/Xilinx/Vitis-Tutorials/tree/2021.2/AI_Engine_Development/Design_Tutorials/09-post-link-recompile/VitisIDE_Flow.md, it seems that Phase1, step 16 may need updating (??)
ie. For Vitis 2021.2 there appears to be no column "PL Kernel in AIE Graph" in the "Hardware Functions" of the PL project (unless I have done something incorrect ?? but I think I have followed

[2022-03-22 01:13] AzzHub commented on #219
I run this on a server of my school. I am new at vitis,  could you tell me what configuration should I provide?
And I think this issue may be caused by some details I haven't notice. How should I check that? Thank you very much

[2022-03-22 02:45] randyh62 commented on #219
Since you are new to Vitis, perhaps you could start with the https://github.com/Xilinx/Vitis-Tutorials/tree/2021.2/Getting_Started/Vitis tutorial? Focusing on the U200 for the Data Center acceleration card. See if you can get the hw_emu build to run for that tutorial?

[2022-03-22 09:58] Rampagee commented on #214
Hi, @xooxit , sorry, I cannot re-produce the errors with same configuration. Below is my relevant log segment. Would you please help to confirm whether the _Makefile_ and _krnl_aes_test.xdc_ files are modified according to U250 case?

[15:50:26] Block-level synthesis in progress, 81 of 82 jobs complete, 0 jobs running.
[15:50:56] Block-level synthesis in progress, 81 of 82 jobs complete, 1 job run

[2022-03-22 13:32] xooxit commented on #214
Thanks for the reply.
I think I did change _Makefile_ file but did not change _krnl_aes_test.xdc_ file. Meanwhile, I upgrade my platform from **xilinx_u250_xdma_201830_2** to **xilinx_u250_gen3x16_xdma_3_1_202020_1**, maintaining vivado version.
Can I change _krnl_aes_test.xdc_ file to confirm the new platform? Simply uncomment all the line in _kernel_aes_test.xdc_ file?

[2022-03-22 21:23] delorytheape commented on #220
For anyone interested: The template example included in 2021.2 (AI Engine, PL and PS System Design) is basically the same, but works correctly (just skip step 16). The template example uses a slightly different graph that does not include the PL kernel 'polar_clip', but rather has two additional ports to connect to the PL kernel.

[2022-03-30 08:04] emanueledelsozzo opened #225 "Vitis Platform Creation Tutorial for ZCU104: PYNQ integration"
Hello, I went through Vitis Platform Creation Tutorial for ZCU104 with Vitis 2020.2 and it works fine.
I would like to use this platform to build C/C++ executables and xclbins and run them on PYNQ images.
I tried to use the vadd executable and xclbin generated within this tutorial with a PYNQ 2.7 image on the ZCU104 and the executable stalls waiting for the end of the kernel computation. Probably

[2022-03-31 15:03] nielsvanetten opened #226 "versal experiment: 01-aie_a_to_z - multiple graphs"
For some experiment with the VCK190 I'm trying to maximize the amount of parallel graph I can connect to the AI engine.
However, when modifying the main.cpp from the example aie_a_to_z, it gets stuck when running on the vck190 after 4 OR 5 graphs (every run different).
I observed that the problem is that there seems to be no data coming in, in the s2mm block, so it gets stuck in the while loop at:

[2022-03-31 15:06] OTremois commented on #220
The Lab has been completely revisited in 2022.1.
polar_clip is out of the graph and the new programming model is used.
A new use case has been added which does not need an intermediate platform to be created.

[2022-04-01 05:52] bok960731 opened #227 "vitis 2021.2 custom platform cannot boot with DP monitor"
By referring to the zcu104 custom platform creation of the Vitis Design Tutorial,
the custom board was operated normally using the 2020.2 Tool and Vitis AI 1.3.

To use Vitis AI 1.4, the Tool version was updated to 2021.2, and an image with a new platform creation and
DPU added was also created by referring to the master branch of custom platform creation.

The problem is, booting through a serial

[2022-04-01 06:57] imrickysu commented on #225
Hi @emanueledelsozzo ,

As long as xrt is included in the rootfs, you're free to customize your PetaLinux image.

If the xclbin and executables are the same, only SW or OS is different, you may check whether the device tree is correct in your Pynq image. XRT needs ZOCL node in device tree.

[2022-04-01 07:06] xflorentw commented on #226
Hi @nielsvanetten

This is not much related to the A to Z example. Please create a question on the forums with the topic [AI ENGINE ARCHITECTURE & TOOLS](https://support.xilinx.com/s/topic/0TO2E000000YKXjWAO/ai-engine-architecture-tools) for your question.

Github issues are for issues with the design itself or tutorial content.

[2022-04-01 07:11] nielsvanetten commented on #226
thanks, will do

[2022-04-01 07:12] #226 closed, assigned to xflorentw

[2022-04-01 13:56] emanueledelsozzo commented on #225
Hi @imrickysu and thank you for your reply.
I tried to rebuild the PYNQ image for ZCU104 and I noticed that both XRT an ZOCL are included within the PetaLinux configuration. So, I suppose that is not the problem.

BTW, I noticed that in the makefile for the [PetaLinux step](https://github.com/Xilinx/Vitis-Tutorials/blob/2020.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/ref_files/step2_

[2022-04-06 14:58] imrickysu commented on #225
Hi @emanueledelsozzo , [packagegroup-petalinux-xrt includes zocl for 2020.2.](https://github.com/Xilinx/meta-petalinux/blob/rel-v2020.2/recipes-core/packagegroups/packagegroup-petalinux-xrt.bb). In later releases ZOCL becomes Runtime dependency (RDEPENDS) of XRT.
If XRT has issues, your program will report errors in dmesg.

It still looks like an interrupt configuration issue to me. Did you use th

[2022-04-07 11:48] nielsvanetten opened #231 "02-super_sampling_rate_fir/Utils"
after following the tutorial and executing: `source InitPythonPath`, and than executing `sudo GenerateStreamGUI` I get the error `sudo: GenerateStreamsGUI: command not found`

in `echo $PATH` and `echo $PYTHONPATH` however i do see the path to the util folder.

I use Ubuntu LTS 20.04.4

[2022-04-07 11:56] nielsvanetten commented on #231
i basically got it working by removing

[code]

and than execute `python3 GenerateStreamsGUI`

[2022-04-11 13:19] sven2314 commented on #227
@bok960731
Hi, could you help to confirm whether the application runs and log output is as expected. Besides to help to analyze the problem It would be better to share the boot log  and application output log from UART  terminal and also the hardware and software ENV to us.

[2022-04-12 08:51] ghost opened #232 "typo: repeated word "package""
https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/step2.md

dnf is for package **package** management

[2022-04-12 18:12] andy39866821 commented on #138
Hi,
I place _xrt.ini_ in both _hw/_ and _hw_emu/_, but _xrt.run_aummary_ didn't generate.
I doesn't modify source code (host.cpp, vadd.cpp, etc.)
Here are the commands and files I used with U50.
Is there any wrong I made?
[code]

xrt.ini
[code]

u50.cfg
[code]

[2022-04-13 02:33] randyh62 commented on #138
Hi andy39866821,

I ran the hw_emu build just to see if it worked. I ran essentially the same commands as you, and used your u50.cfg file and your xrt.ini file contents. It worked fine and generated the xrt.run_summary file as expected. The comparison of your commands and my commends are below, though I did not see an obvious error in your commands.

**************************************
ANDY:  g

[2022-04-13 13:48] K-Wu opened #233 "Possible Data Corruption in Example Design_Tutorials/06-fft2d_AIEvsHLS"
When running `aiesimulator` on `Design_Tutorials/06-fft2d_AIEvsHLS`, I continue to get the following messages.

To work this around, I replaced `1.0` with `1` in the two input files `Design_Tutorials/06-fft2d_AIEvsHLS/AIE/design/aie_src/aiesim_data/input0.txt` and `Design_Tutorials/06-fft2d_AIEvsHLS/AIE/design/aie_src/aiesim_data/input1.txt`. This suppressed the aforementioned warning messages.

I

[2022-04-15 17:48] ledwmp opened #234 "Question about buffer syncing"
Hi, I'm running into a problem and not sure if it's on my end.

Trying to run hardware emulation in vivado 2021.1 similar to the vadd example with a user-managed kernel and the cpp API.

When I try to sync a buffer from host to DDR it looks like I'm syncing an empty buffer, even though I fill the host pointer.

Similar to this:

`
//initialize device
auto bf = xrt::xclbin("./my.xclbin");
auto devi

[2022-04-15 20:59] randyh62 commented on #234
It is hard to tell what is going on in your pseudocode. Something could be a typo or could be an error.

I applied your code to the RTL kernel tutorial you seem to be referring to, and was able to build and run the code after sorting through a few errors:
https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/Hardware_Acceleration/Feature_Tutorials/01-rtl_kernel_workflow/reference-files/src/host/us

[2022-04-15 22:40] ledwmp commented on #234
Hey, thanks for getting back. My bad, I threw together the pseudocode quickly and you're right, I meant to call address on the created buffer object. I've tried the map method, creating the buffer without a pointer and then using the write method to fill the buffer, and all return the same result.

I'll put together a reproducible example and see if I can recreate the problem in a minimal setting

[2022-04-18 21:36] emanueledelsozzo commented on #225
Hi @imrickysu, thank you for the clarification about packagegroup-petalinux-xrt.
I'm not sure it is an interrupt configuration issue. I tried to run the kernel, wait some seconds, and then read the output buffer (if I try to wait for the kernel completion, it waits indefinitely). The content of the output buffer is all zeros, just like after its allocation. So, it seems that the kernel does not ev

[2022-04-20 07:39] imrickysu commented on #233
Hi @JithinPillai, could you help with this question?

[2022-04-20 07:54] imrickysu commented on #225
Hi @emanueledelsozzo , Xilinx technical support team monitors the Xilinx Forums https://support.xilinx.com/.
The Pynq Forum you posted on seems less active than Xilinx Forums.

You can also ask about how to debug acceleration applications in Xilinx Forums. With the help of gdb and Vitis kernel debug features, you can dump the run time waveform and analyze the issue. I understand it should not be a

[2022-04-20 07:56] imrickysu commented on #216
fixed in PR #235

[2022-04-20 07:56] #216 closed, assigned to sven2314

[2022-04-20 07:56] #220 closed, assigned to OTremois

[2022-04-20 10:35] JithinPillai commented on #233
Hi @imrickysu,
It is happening due to data being provided for the cint16 design is same as that for cfloat, I will fix that

[2022-04-20 17:46] gustandil commented on #153
Hi, I'm trying to understand the limitation of ES1 boards.
We installed a few months ago and test VCK5000-ES1.
Now we tried to reproduce the examples, and the reference from lounge was "disappeared".
I googled without results of the former information. Is available?

Best Regards, GS

[2022-04-20 22:59] Premduth commented on #153
VCK5000-ES1 cards and pretty much any ES1 cards are only supported via lounge access. Please contact your nearest sales office for instructions to the lounge.

[2022-04-21 20:07] ledwmp commented on #234
I was not able to recreate this problem with a simple system consisting of a single master and slave. I think there is a problem somewhere in my IP where data are not being transferred despite following AXI protocol specifications. I'll have to dig in deeper, sorry for the inconvenience!

[2022-04-21 20:07] #234 closed, assigned to randyh62

[2022-04-28 02:47] LoeWHJ opened #238 "Refer to "Vitis-Tutorials/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/step2.md" tutorial to make zcu102 platform. Error configuring rootfs"
petalinux-build：An error occurred

NOTE: Resolving any missing task queue dependencies
ERROR: Nothing RPROVIDES 'vitis-ai-library' (but /media/ccpiot/cfd852b5-0a53-4e35-8317-4213d7cceef1/Xilinx/PROJECTS/petalinux_projects/zcu102_ai_base_plnx/components/yocto/layers/meta-petalinux/recipes-core/packagegroups/packagegroup-petalinux-vitisai.bb RDEPENDS on or otherwise requires it)
NOTE: Runtime target

[2022-04-28 03:02] #238 closed, assigned to nobody

[2022-04-28 03:03] LoeWHJ commented on #238
Found a solution, in the xilinx community

[2022-04-29 19:07] dj-park commented on #74
Hi @vmayoral,
I know this is an year ago, but what was your conclusion on the 2nd point?(did you get it work?) I think in the recent version of user guide(https://docs.xilinx.com/r/en-US/ug1393-vitis-application-acceleration/Configuring-the-PL-Kernel-in-DFX-Platforms-and-Non-DFX-Platform), your question regarding non-DFX platform is addressed, but isn't reloading vadd_new.xclbin in DFX platfrom su

[2022-04-29 22:05] dj-park commented on #74
In fact, I am experiencing the exact same issue.
For instance,
app_0.exe vadd_0.xclbin => test passed
reboot
app_1.exe vadd_1.xclbin => test passed

But if I don't reboot, for example,
app_0.exe vadd_0.xclbin => test passed
app_1.exe vadd_1.xclbin => hangs

[2022-05-10 15:22] GianlucaGaroia opened #241 "Vitis Getting Started Tutorial - Part4 - command has wrong script name as argument"
In the "Targeting Hardware Emulation" section:
https://github.com/Xilinx/Vitis-Tutorials/blob/2022.1/Getting_Started/Vitis/Part4-embedded_platform.md#targeting-hardware-emulation

The last v++ build command has "run_app.sh" as final argument - this is wrong name, the command fails, the correct name (from github sources) is run_hw_emu.sh

Same error in the successive "Targeting Hardware" section:
h

[2022-05-10 16:18] randyh62 commented on #241
Thanks for pointing out the issue. I will get it fixed.

[2022-05-10 21:35] emanueledelsozzo commented on #225
Hi @imrickysu, sorry for my late response but I do not receive notifications when you reply. I got an answer on the PYNQ Forum and they say that the Vitis Embedded Platform flow is not currently supported on PYNQ. So I think I have to wait for future releases.
Thank you anyway!

[2022-05-10 21:35] #225 closed, assigned to sven2314

[2022-05-20 13:09] Candice-Yin opened #246 "What should I do when I want the same buffer to be used for two different data types？"
I have two different data types: "ap_uint<8>" and "ap_fixed<16, 3, AP_RND, AP_SAT>", and I must open up just one buffer for the two different kinds of data in my design, how could I achieve it?
Thanks very much.

[2022-05-20 13:15] imrickysu commented on #246
Hi @Candice-Yin , for general HLS questions, could you ask in Xilinx HLS Forum? Our technical support team will be happy to support you.
https://support.xilinx.com/s/topic/0TO2E000000YKXtWAO/hls?language=en_US

This issue board is mainly for reporting tutorial issues.

cc @randyh62

[2022-05-20 13:16] imrickysu commented on #232
fixed in #240

[2022-05-20 13:16] #232 closed, assigned to sven2314

[2022-05-20 13:16] Candice-Yin commented on #246
OK，thank you @imrickysu

[2022-05-20 13:16] #246 closed, assigned to nobody

[2022-05-20 14:29] Candice-Yin commented on #246
![fcb112ccb0316db7e8a7df7b0601688](https://user-images.githubusercontent.com/71826731/169549524-8bd2552d-6faf-4e17-9a3e-55b9591e901b.png)
I can‘t login the support community, do you know why?
Thank you. @imrickysu

[2022-05-20 15:25] imrickysu commented on #246
Hi @Candice-Yin , could you reach out to the support_community@xilinx.com email alias and provide the login username used when trying to sign into the community? They will help you with the account issues.

[2022-05-24 11:50] nielsvanetten opened #248 "14-implementing FIR filter 1b - Emulation-AIE build crashes"
When building Emulation-AIE for the graph of 1b, it crashes:
make[1]: *** Waiting for unfinished jobs....
make[1]: *** [25_0.elfgen.Makefile:14: 25_0] Error 5
make[1]: *** [24_1.elfgen.Makefile:14: 24_1] Error 5
make[1]: *** [24_0.elfgen.Makefile:14: 24_0] Error 5
aiecompiler 77-4608

Error in "/cadlinux/xilinx/Vitis/2021.2/aietools/include/aie_api/detail/aie1/mul_acc32_fp.hpp", line 85, column 11

[2022-05-24 23:10] louiev-xlnx commented on #248
In README.md: "In Part 1, we have focused only on _functional verification using Emulation-SW_. "

Part1 is _not_ expected to be used with Emulation-AIE as it is intended to show the preliminary steps  in the development process. Please see Part2a and Part2b to use Emulation-AIE.

If it is *really* required to run Emulation-AIE on Part1b, please make the following edits to kernel.cpp:

WAS:
[code]

[2022-05-25 07:06] nielsvanetten commented on #248
thank you !

[2022-05-25 07:06] #248 closed, assigned to nobody

[2022-05-27 13:30] arishsatheesan opened #252 "Alveo u250 - [XRT] ERROR: failed to load xclbin: Invalid argument"
Hello,

I am doing the example vector addition tutorial (https://github.com/Xilinx/Vitis-Tutorials/tree/2022.1/Getting_Started/Vitis/Part4-data_center.md) and I am encountering this issue while trying the run on hardware. The bitstream generation was successful and when I try to run ./app.exe it throws this error.
sw_emu and haw_emu are running well.

![image](https://user-images.githubusercontent

[2022-05-27 14:51] randyh62 commented on #252
Can you provide a little more information about your shell and OS? Which U250 platform are you targeting? Which OS are you running on? Which version of the tools are you using?

[2022-05-27 15:21] arishsatheesan commented on #252
Hello,

The screenshot shows the details. I am using Vitis 2022.1.

![image](https://user-images.githubusercontent.com/38071757/170729126-79fa3b6e-9543-4fce-80e3-541702690d92.png)
![image](https://user-images.githubusercontent.com/38071757/170729323-aa08250e-5a31-49a2-8229-1f1ded9d8cba.png)

[2022-05-28 07:23] randyh62 commented on #252
I am seeing a problem as well. Let me look into it further and get back to you.

Best Regards,
Randy

[2022-05-28 07:54] arishsatheesan commented on #252
Thank you!

[2022-05-29 14:51] winnieaswin commented on #120
Hi, I am on 2021.2 and I've got the same problem.

INFO: [v++ 60-1316] Initiating connection to rulecheck server, at Sun May 29 21:45:42 2022
INFO: [v++ 60-1315] Creating rulecheck session with output '/home/win/vantaCapital/Tutorial/Vitis-Tutorials/Hardware_Acceleration/Introduction/design_source/hw_src/_x/reports/resize_rgb/v++_compile_resize_rgb_guidance.html', at Sun May 29 21:45:43 2022
INFO:

[2022-05-29 15:15] winnieaswin commented on #120
To solve the problem I copy all folder Vitis_Libraries into /design_source/hw_src

[2022-05-30 08:48] arishsatheesan commented on #252
Hello,

Some more information, if it helps.

![image](https://user-images.githubusercontent.com/38071757/170954674-5e26db62-1e2e-4e4d-9622-59c84dbbfe6b.png)

[2022-05-30 10:15] arishsatheesan commented on #252
The issue is solved! The issue was with the shell partition.

Another thread gives the required info: https://github.com/Xilinx/Vitis-Tutorials/issues/106

You can do a proper validation with the command: "/opt/xilinx/xrt/bin/xbutil validate --device 0000:d8:00.1 --verbose"

Some more info on fixing some of the errors here: https://xilinx.github.io/Alveo-Cards/master/debugging/build/html/docs/card

[2022-05-30 11:41] #252 closed, assigned to nobody

[2022-05-30 12:20] arishsatheesan opened #253 "Repeated portions in the documentation"
Hello,

I see that there are some repeated portions in the documentation: https://github.com/Xilinx/Vitis-Tutorials/blob/2022.1/Hardware_Acceleration/Feature_Tutorials/01-rtl_kernel_workflow/using_the_rtl_kernel.md

Best regards

[2022-05-31 17:00] randyh62 commented on #241
I have corrected the commands. Thanks for your input.

[2022-05-31 17:00] #241 closed, assigned to randyh62

[2022-06-05 02:22] #253 closed, assigned to randyh62

[2022-06-06 18:03] fergusonml opened #255 "libboost-dev package dependency on Ubuntu 18.04 to compile Vitis-Tutorials/Hardware_Acceleration/Feature_Tutorials/01-rtl_kernel_workflow with xilinx_u280_xdma_201920_3"
$ xbmgmt examine
System Configuration
  OS Name              : Linux
  Release              : 4.15.0-180-generic
  Version              : #189-Ubuntu SMP Wed May 18 14:13:57 UTC 2022
  Machine              : x86_64
  CPU Cores            : 4
  Memory               : 32129 MB
  Distribution         : Ubuntu 18.04.6 LTS
  GLIBC                : 2.27
  Model                : MS-7971

XRT
  Version

[2022-06-09 04:57] mruizglz commented on #74
I have exactly the same behaviour than @dj-park. I am using a ZCU102 (DFX) and 2021.1 tools. Is there any solution to this problem?

[2022-06-09 06:39] imrickysu commented on #74
Hi @dj-park , @mruizglz , thanks for your feedback. I'll try to reproduce my end and follow up.

[2022-06-14 03:36] imrickysu commented on #255
Hi @randyh62 , please update compile script to use c++17. This is an updated requirement in XRT 2022.1.
Ref: https://github.com/Xilinx/XRT/blob/master/CHANGELOG.rst#2130-202210213x

[2022-06-16 08:18] TizianoDeMatteis opened #259 "AIEngineDevelopment Example 01 -- Issues in compiling"
Hello,

I'm trying to compile the `01-aie_lenet_tutorial` (v 2022.1) using the `vck19_base_202210_1` platform, but I'm encountering some issues.
I'm following the step-by-step guide (so making the kernels, the graph, xclbin...), targeting HW_EMU.

The environment has been set up according to the instruction in the README (after that I edited the `env_setup.sh` file indicating the location of versa

[2022-06-20 13:27] xflorentw opened #261 "01-aie-Lenet-tutorial README needs to be updated with "make xclbin" in 2022.1"
From 2021.2 to 2022.1, the makefile for the Lenet tutorial has the step "make xclbin" which was updated to "make xsa".
This needs to be reflected in the README

[2022-06-20 13:31] xflorentw commented on #261
In fact I just realised this was mentioned in another issue:
https://github.com/Xilinx/Vitis-Tutorials/issues/259

[2022-06-20 13:31] #261 closed, assigned to nobody

[2022-06-20 14:02] nrllhclb opened #262 "XRT Error: No Device Found"
Hello everyone,

I followed steps which is example of vitis-ai for zcu104, however all steps passed until putting the sdcard to the board.

In **version 2020.2** https://github.com/Xilinx/Vitis-Tutorials/blob/2020.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/step4.md,

When the step 2 of test 2 have been run the code as `./vadd binary_container_1.xclbin`, i would get following error on

[2022-06-21 04:57] JithinPillai commented on #233
Hi @K-Wu,
The issue should be fixed now!
Sorry for the delay the I was out of office due to some personal matters.
Please have a look.

Regards
Jithin

[2022-06-21 07:04] K-Wu commented on #233
Thank you @JithinPillai  for addressing this issue! I have stopped working on the project using this for a while but I also believe we can close this issue now as it is fixed. Thanks again!

[2022-06-21 07:04] #233 closed, assigned to JithinPillai

[2022-06-21 12:35] nrllhclb commented on #262
In addition, i have been getting the fail such as "Failed to init entropy source hwrng" during boot.

[2022-06-22 16:34] sven2314 commented on #262
Hi, @nrllhclb
From my experience,  this kind of error "`[XRT] ERROR: No device found Error: Unable to find Target Device [XRT] ERROR: device is nullptr`"  may be caused of lacking ZOCL node which is a device tree node to be used to bind the ZOCL driver. Without this driver, XRT can not communicate with the PL side IPs. As a result that kind of error would occur.  So please convert your system.dtb

[2022-06-24 03:33] mavoyang opened #265 "apt-get command not found"
I followed, 'Vitis Custom Embedded Platform Creation Example on ZCU104', this tutorial to creat a platform for zcu106. I successfully ran vadd application and DPU AI demo on it, but i found the pelalinux can not find apt and apt-get command.  How can I fix this?

[2022-06-28 08:52] HadXu opened #266 "The Program xchesscc has encountered an unexpected error exiting ... xchesscc Failed No such device"
[code]

The Program xchesscc has encountered an unexpected error exiting ... xchesscc Failed No such device.
But lspci show device below.
[code]

[2022-06-28 11:09] xflorentw commented on #259
Hi @TizianoDeMatteis
So the first issue with make xsa -> make xclbin should be fixed in the README file.

For the second issue, make sure you are editing the following script for your environment and running it before running the make command
https://github.com/Xilinx/Vitis-Tutorials/blob/2022.1/AI_Engine_Development/Design_Tutorials/01-aie_lenet_tutorial/sample_env_setup.sh

Make sure you check t

[2022-06-28 11:10] xflorentw commented on #266
What tutorial are you trying to use?
What command did you run?

[2022-06-28 13:57] TizianoDeMatteis commented on #259
Hi @xflorentw,

source $XILINX_VERSAL/environment-setup-cortexa72-cortexa53-xilinx-linux

Yes, this was indeed the case, I missed the warning message.
Once, I fixed it, the compilation proceeded smoothly

[2022-06-28 13:59] xflorentw commented on #259
Great. Can you kindly close the issue as this is solved?
Thanks

[2022-06-28 14:00] TizianoDeMatteis commented on #259
Yes,
this solved the issue.
Thank you for your support.

[2022-06-28 14:00] #259 closed, assigned to JithinPillai

[2022-06-29 01:52] HadXu commented on #266
I use [Vitis_2021.2](https://www.xilinx.com/support/download/index.html/content/xilinx/en/downloadNav/vitis.html) software. [mlir-aie](https://github.com/Xilinx/mlir-aie) need aietools/bin/xchesscc.

[2022-06-30 07:59] xflorentw commented on #266
If you are using [mlir-aie](https://github.com/Xilinx/mlir-aie) why not creating the issue under [mlir-aie](https://github.com/Xilinx/mlir-aie) repo?
This way the right people can look at it

[2022-06-30 09:27] HadXu commented on #266
Ok. Sorry.

[2022-06-30 09:27] #266 closed, assigned to nobody

[2022-07-05 10:43] imrickysu commented on #265
Hi @mavoyang , in PetaLinux rootfs, `dnf` is the default package management system. It can replace apt commands. Please refer UG1144 for more details.

[2022-07-08 08:02] arishsatheesan opened #270 "HwAcc/F/09-Ethernet-Alveo: Unable to generate bitstream for Ethernet core alveo u250"
Hi,

I am trying to run the tutorial https://github.com/Xilinx/Vitis-Tutorials/tree/2022.1/Hardware_Acceleration/Feature_Tutorials/09-using-ethernet-on-alveo with alveo u250.

I have used the evaluation licenses given in https://www.xilinx.com/products/intellectual-property/ef-di-25gemac.html, but I am unable to generate the bitstream. The error states that the bitstream generation is not permitte

[2022-07-11 10:26] AnusheelXilinx opened #273 "HwAcc/Intro: Vitis_Library source code not found during compilation"
https://github.com/Xilinx/Vitis-Tutorials/blob/2022.1/Hardware_Acceleration/Introduction/guided_sw_examples.md

The tutorial does not take care of Vitis_Libraries and the flow is failing with below error:
ERROR: [v++ 207-812] 'common/xf_common.hpp' file not found (/scratch/anusheel/Alveo_Intro/Vitis-Tutorials/Hardware_Acceleration/Introduction/design_source/hw_src/resize_rgb.cpp:32:10)
ERROR: [v++

[2022-07-14 02:25] mavoyang commented on #265
Many thanks @imrickysu

[2022-07-14 02:25] #265 closed, assigned to imrickysu, sven2314

[2022-07-26 21:51] roseduke3 opened #275 "AI_engine design tutorials 01-Lenet. Issue in compiling"
Hello,

I'm compiling the 01-Lenet tutorials using the 'make all TARGET=hw_emu' command but an error occurs in the compiling process:

**/home/shininy/Vitis-Tutorials/AI_Engine_Development/Design_Tutorials/01-aie_lenet_tutorial/design/host_app_src/lenet_app.cpp:27:10: fatal error: xrt/experimental/xrt_aie.h: No such file or directory**

im now using the platform provided by xilinx vitis and i cant

[2022-07-26 22:07] randyh62 commented on #275
This sounds like an environmental issue. The platform requires some common files to be [installed](https://docs.xilinx.com/r/en-US/ug1393-vitis-application-acceleration/Installing-Embedded-Platforms?tocId=pm5zCNChp993ACN_ICPFPg) for the XRT runtime. These files can be found in the [Embedded Platforms](https://www.xilinx.com/support/download/index.html/content/xilinx/en/downloadNav/embedded-platfor

[2022-07-26 22:19] roseduke3 commented on #275
yeah but so many files. im not sure which one actually i missed. also on the website the vck190 platform seems a little bit outdated

[2022-07-30 06:17] zhuofanzhang opened #277 "HwAcc/D/08-alveo_aurora_kernel: bit errors"
Hi,
I am trying to using Aurora IP with a U250 card following [Using Aurora IP in Alveo with Vitis Flow](https://github.com/Xilinx/Vitis-Tutorials/tree/2022.1/Hardware_Acceleration/Design_Tutorials/08-alveo_aurora_kernel). I could run the example but there are two problems exist,

1) Sometimes bit errors are found without any aurora error.
[code]

2) Sometimes bytes lossing are found and the host

[2022-07-31 12:14] chenguoping76 opened #278 "ERROR: [VPL 41-99] Failed to find BusTerm object axi_ic_processing_system7_0_S_AXI_ACP"
when test Hardware_Acceleration/Feature_Tutorials/01-rtl_kernel_workflow using Makefile:
$make all TARGET=hw DEVICE=<Platform path>/pynqz2.xpfm  (pynqz2.xpfm is a tested custom platform, it can run vadd test case)
when link stage, encount ERROR: [VPL 41-99] Failed to find BusTerm object axi_ic_processing_system7_0_S_AXI_ACP/S01(S00)_AXI_arca(awca,arca)...

[2022-07-31 17:08] randyh62 commented on #278
I am not familiar with the pynqz2.xpfm. Where did you get it from? Can you build the RTL kernel tutorial on another platform, like the zcu102 or zc706?

[2022-08-01 00:42] chenguoping76 commented on #278
We build a custom platform for pynq z2 board according to [Custom Platform Creation on MPSoC](https://github.com/Xilinx/Vitis-Tutorials/blob/2021.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104). And pass test the Vadd HLS HW kernel case.
![image](https://user-images.githubusercontent.com/35511222/182052545-04e18702-631c-4e61-876c-4417ed312c5a.png)
![image](https://user-images.githubuserc

[2022-08-01 02:19] imrickysu commented on #277
It looks like these errors are related to the hardware, or Aurora IP configuration, but not Vitis design flow.
@Rampagee Please confirm.

[2022-08-01 02:30] imrickysu commented on #278
Hi @chenguoping76 , I didn't find `axi_ic_processing_system7_0_S_AXI_ACP` in your block design. Please check how you exported the AXI interfaced in Platform Setup.

Please refer to [ZC706 base platform source code](https://github.com/Xilinx/Vitis_Embedded_Platform_Source/tree/2022.1/Xilinx_Official_Platforms/xilinx_zc706_base) for how to create custom platforms on ZYNQ-7000.

Since the tutorial wo

[2022-08-01 02:35] imrickysu commented on #275
Please run through the following steps:
1. Go to https://www.xilinx.com/support/download/index.html/content/xilinx/en/downloadNav/embedded-platforms/2021-2.html
2. Download "Versal common image"
3. Extract the downloaded file `tar -xzf xilinx-versal-common-v2021.2.tar.gz`
4. Extract the sysroot `./sdk.sh`
5. Source environment-setup-cortexa72-cortexa53-xilinx-linux from the extracted sysroot direc

[2022-08-01 02:38] imrickysu commented on #270
Hi @Rampagee , could you add license expectation to the tutorial? Thanks.

[2022-08-01 02:43] imrickysu commented on #99
Hi @sven2314 Please check this issue and provide suggestions.

[2022-08-02 00:38] chenguoping76 commented on #278
@imrickysu thanks for your help, we will submit problems to http://forums.xilinx.com/

[2022-08-02 00:38] #278 closed, assigned to nobody

[2022-08-02 10:04] chenguoping76 opened #280 "Vitis_Platform_Creation-kv260 step3 Load the hardware sudo xmutil command 'xmutil' not found"
Vitis_Platform_Creation/Design_Tutorials/01-Edge-KV260/step3.md

4.  Load the hardware
    sudo xmutil listapps
    command 'xmutil' not found

![D}A7PM(R$(J5PON}G)VFW9L](https://user-images.githubusercontent.com/35511222/182349531-f226ae4a-b582-4d6d-8bd8-b6e4d8bf7f63.png)

[2022-08-02 12:27] anonymous1782 opened #281 "FPGA performance question"
Hi,

I'm new at FPGA and have an interest in Vitis.

First, I encountered performance bottleneck during FPGA write.

[code]

Here is my "xbutil validate" result screen. It shows that FPGA write bandwidth is significantly less than FPGA read bandwidth.

![image](https://user-images.githubusercontent.com/92641652/182373823-4cf1042b-4d4a-49e8-baac-218ce6608d73.png)

However, according to the above gr

[2022-08-02 14:10] imrickysu commented on #281
@Rampagee Could you share more info about the case with 30,000MB/s PCIe throughput?

Hi @anonymous1782 , for general Vitis questions, we recommended you post in http://forums.xilinx.com/. AMD/Xilinx Tech Support team will be glad to support.

[2022-08-02 14:12] imrickysu commented on #280
Hi @chenguoping76 , xmutil is a special command only available in KV260 rootfs, which is prebuilt and write to SD card directly.
If you use the rootfs from common image, it doesn't include xmutil utility.

[2022-08-02 17:14] anonymous1782 commented on #281
@imrickysu Thank you.

1. For 30,000MB/s PCie throughput, any information would be helpful.

2. I am looking for any related official documents about PCIe 3x16 xdma vitis performance. But I can not. Almost tests shown in Xilinx support community and other Github indicates write bandwidth << read bandwidth and it is not reasonable I think. I have not seen any acceptable information. Anyway, I will

[2022-08-03 02:56] dreamella opened #282 "For a vivado project that supported vitis extensible plaform, How to match xsa and xpfm ?"
1 Vivado IDE create a project that supported vitis extensible plaform
2 petalinux create image
3 vitis IDE create a platform project in order to output xpfm file?
4 while execute platform -p xxx.xpfm, find out xsa and xpfm dismatch.
How to match xsa and xpfm?
![image](https://user-images.githubusercontent.com/81511317/182516932-ab87c6ac-36e8-43f7-ae3a-68ac885bdf72.png)
![image](https://user-images

[2022-08-03 07:55] imrickysu commented on #282
Hi @dreamella , it looks like you're reporting a tool issue. If you can post this question in [forums.xilinx.com ](http://forums.xilinx.com/), with the source files to reproduce issue, AMD/Xilinx Technical Support team would help to investigate and verify whether this is a tool issue. If it is, they can report this bug to the Engineering team to fix this issue.

If you export your block design to

[2022-08-04 13:58] anonymous1782 opened #283 "Questions about host memory access"
Hi, I have a question about [host memory access](https://github.com/Xilinx/Vitis-Tutorials/tree/2022.1/Hardware_Acceleration/Feature_Tutorials/08-using-hostmem).

In common where Vitis xdma is sued, the xdma block design module in FPGA hardware is in charge of data transfer between host memory and FPGA global memory.

However, host memory access can be used no-DMA platform, and even it does not re

[2022-08-04 14:03] anonymous1782 commented on #281
In my understanding, the unit of this figure is not MBytes but MBit. I think it is quite confusing.
Further, I recognized that FPGA throughput is one direction throughput, and FPGA PCIe throughput includes read/write throughput according to the [host code](https://github.com/Xilinx/Vitis-Tutorials/blob/2022.1/Hardware_Acceleration/Design_Tutorials/07-host-code-opt/reference-files/src/pipeline_host

[2022-08-04 21:27] ravicho commented on #283
Hi @anonymous1782,

In the case of no-DMA platforms, an additional Bridge IP is used by the kernel(s) to read and write data directly from/to the Host Memory. This bridge IP provides DMA bypass capability which is primarily used for data transfer.

Hope this answers your question.

Regards
Ravi

[2022-08-05 02:43] sven2314 commented on #280
@chenguoping76 Please follow the following link to update the sdcard Image which is official image for kv260 and contains the xmutil command.
[kv260-getting-started](https://www.xilinx.com/products/som/kria/kv260-vision-starter-kit/kv260-getting-started/getting-started.html)

[2022-08-05 03:38] anonymous1782 commented on #283
@ravicho Thank you for the detailed explanation. I see the point.

Then.. for DMA-enabled systems, are they using different IPs? In other words, is it correct that DMA for global memory uses xdma IP while host memory access uses bridge IP?

Further, are they interfered with by each other when they operate simultaneously? (DMA IP affects Bridge IP / Bridge IP affects DMA IP)

Although I know my que

[2022-08-05 15:54] HankIC opened #284 "Hello! How can I create a ZCU106 platform"
Hello friends, I am a newcomer to Vitis-Ai. I have one ZCU106 board. How Can I create a platform for newest Vitis Ai?
Thank you!

[2022-08-06 02:48] chenguoping76 commented on #280
3ks，I got the difference. Kv260 has two prebuild system: ubuntu is a desktop; petalinux editor is hw acceleration platform.

[2022-08-06 02:48] #280 closed, assigned to sven2314

[2022-08-06 02:55] chenguoping76 commented on #284
ref https://github.com/Xilinx/Vitis-Tutorials/issues/278

[2022-08-07 06:44] chenguoping76 opened #285 "hw acceleratate : future_tutorial, 02-mix c and rtl case Segmentation fault (core dumped)"
![9AEKXOWCK8F(%`3T$NC6Y)0](https://user-images.githubusercontent.com/35511222/183278668-12a3d65b-f7f0-41ec-a2c4-b870ab3f519e.png)

and make xclbin command should be make xclbin DEVICE=<Platform>  ?

[2022-08-10 02:52] imrickysu commented on #284
We don't have pre-built ZCU106 base platform, but ZCU106 is very similar to ZCU104.

You can follow https://github.com/Xilinx/Vitis-Tutorials/tree/2022.1/Vitis_Platform_Creation/Design_Tutorials/02-Edge-AI-ZCU104 and use Vivado ZCU106 board file.

You can also use the ZCU104 base platform source code, replace the zcu104 board with zcu106.
https://github.com/Xilinx/Vitis_Embedded_Platform_Source/bl

[2022-08-10 04:28] allyzhou opened #286 "AIE/D/07-firFilter: README contains incorrect path could be misleading"
https://github.com/Xilinx/Vitis-Tutorials/blob/2022.1/AI_Engine_Development/Design_Tutorials/07-firFilter_AIEvsHLS/AIE/README.md
Under "Building The Design" -> "Make Steps" To run the following make steps (e.g. make kernels, make graph, etc), you must be in the Makefiles/ folder.
`cd Makefiles`
But the Makefiles folder does not exist, please update the README.md

[2022-08-10 15:50] randyh62 commented on #285
Hello @chenguoping76, Can you clarify what you are looking for here? The _make xclbin_ command can be used with _make xclbin DEVICE=XXX_ if you are specifying a new platform.

As for the segmentation fault, as you are using a custom platform I don't know if I can help you with that.

[2022-08-11 01:45] chenguoping76 commented on #285
yes @randyh62 I use custom platform for pynq z2 board, and test it with vadd hw accelator done. So I want to know how to use sw_emu/hw_emu evaluation for these zynq7000 embedded system. 3ks.  By the way, does this sw_emu evaluation can be verified on zc706 platform?

[2022-08-11 13:20] randyh62 commented on #285
Hello @chenguoping76, you could try the tutorial with the zc706 platform and see how it works out. You can specify the device in the make command:
**make run TARGET=sw_emu DEVICE=xilinx_zc706_base_202210_1**

These are my results:
[code]

[2022-08-11 13:21] randyh62 commented on #285
I would suggest you work with a standard platform to understand the tutorial and the tools, and then work with your customized platform to see where it varies. You can get additional support on the user forum.

[2022-08-11 16:36] HankIC opened #287 "Could not create zynqmp_fsbl application for the given hw design | Details: FSBL uses these IPs but are missing in the design: psu_i2c_0"
Hello! I follow the instructions in "https://github.com/Xilinx/Vitis-Tutorials/tree/2021.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104" and change some board information to ZCU106 in step1 and step2. In the end, this problem happens, how can I fix this problem in makefile or tcl?
[error_in_terminal.txt](https://github.com/Xilinx/Vitis-Tutorials/files/9310266/error_in_terminal.txt)

[2022-08-15 15:55] #285 closed, assigned to randyh62

[2022-08-15 15:55] randyh62 commented on #285
As this is an issue with the custom platform, and not the tutorial, I am closing this issue.

[2022-08-16 09:08] vaan2010 opened #288 "Modify DPU type (3136, 4096 and so on) for KV260"
Hi,
I want to use KV260 for some custom applications, and I find various DPU types in KV260 such like 1024, 3136, 4096 and so on.
The models from Vitis AI github are compiled with DPU 4096, But my KV260 is DPU 3136.
So I want to modify the DPU type from 3136 to 4096 through Vivado, and another problem show up: KV260 has no DPU IP in Vivado!

Does anyone could give me some suggestions or Xilinx tut

[2022-08-16 09:19] chenguoping76 commented on #285
3ks

[2022-08-16 13:24] allyzhou commented on #288
Please contact https://github.com/Xilinx/Vitis-AI

[2022-08-16 13:28] allyzhou commented on #287
Have you tried on a newer version of Vitis? for example 2022.1

[2022-08-17 01:02] #288 closed, assigned to nobody

[2022-08-19 02:34] imrickysu commented on #286
Hi @JithinPillai , do you mean the folder contains the `makefile` ?

[2022-08-19 02:35] #284 closed, assigned to sven2314

[2022-08-19 02:40] #282 closed, assigned to nobody

[2022-08-19 02:46] imrickysu commented on #273
We removed the Vitis_Libraries as submodule of the whole repo because only a small subset of the tutorials refer to Vitis-Libraries.
Each referring tutorials should take care of dependencies individually.
Please add dependency check and git clone accordingly in Makfile. Hardware_Acceleration/Introduction/design_source/hw_src/Makefile

Example: https://github.com/Xilinx/Vitis-Tutorials/blob/ce34ef8

[2022-08-19 04:50] sven2314 commented on #287
Hi @HankIC,
I checked the zcu106 board's schematic. The I2C0 is used to do power related control. So enabling the I2C0 in Vivado design is required.
Please add I2C0 support in system-step1.tcl file like the following 'set property' line is the code. Other lines are to point the location.
[code]
You can also enable the I2C0 support in Vivado GUI. Just double click the Zynq UltraScale+ MPSoC IP and

[2022-08-19 16:44] HankIC commented on #287
Hello @allyzhou , its difficult for me to change a new version because VITIS installer is so big(near 100G!) and Ubuntu network is not good enough. It may cost me several days to download a installer from website to windows PC and upload the installer to baiduyuncloud and download the installer from baiduyuncloud to ubuntu T-T.  Last but not least, I have to download new version petalinux, sstate

[2022-08-19 16:56] HankIC commented on #287
Hello @sven2314 , thank you for your advise! I haven't got new result up to now because I have run step2 many times this evening. Step2 always gets stuck in not fixed point and stops for a long time. As a result there is no new progress. So I have to kill the process and run step2 again. Now step2 stops again! it has been stuck here for 26 minutes!
(I use ubuntu 18.04.02. Vitis and petalinux versi

[2022-08-22 09:11] HankIC commented on #287
Hello @sven2314, thank you!  the problem disappeared!!!!
@allyzhou @sven2314 thank you very much!

[2022-08-22 09:35] #287 closed, assigned to sven2314

[2022-08-23 06:10] sven2314 commented on #99
Hi, @Hamptonjc
From my experience this error is caused by lacking of boot.scr.  Most importantly the boot.scr should be prepared in image directory and give it to Vitis before generating the platform.  If you already generate a platform you should copy the boot.scr to image directory and regenerate the platform again to make the mew file work.

[2022-08-24 15:05] CoffeeCat3008871 opened #292 "Using 400 AIE tiles through PLIO problem"
I am trying to utilize all 400 AIE tiles to process the simple adder graph kernel. However, I encountered a problem shown at the bottom. For the adder kernel, it requires 2 input stream and 1 output stream. I therefore created 400 PLIO for input1 and input 2, and 400 output. There are 1200 PLIO created in total. However, it seems that the maximum number of IO I can create is 900. But the error mes

[2022-08-29 07:56] Rampagee commented on #277
Sorry for late response. Hi, @zhuofanzhang, are you using the 10Gbps or 25Gbps lane rate? If it is the latter case (25Gbps), first you will need a QSFP28 (25G) loopback module, QSFP+ (10G) module may work, but not stable for 25Gbps rate. Second, the design needs some modification as the README mentioned (modified source code not provided in the repo), since the needed user clock has exceeded the d

[2022-08-29 09:11] Rampagee commented on #270
Sorry for late response. Generally, the following two license keys are needed:
xxv_eth_mac_pcs
x_eth_mac

Or refer to following link:
https://www.xilinx.com/products/intellectual-property/ef-di-25gemac/ef-di-25gemac-order.html

If the evaluation licenses are not working, please check the license status in Vivado license manager or consult the licensing solution center... Thanks.

[2022-08-29 10:11] arishsatheesan commented on #270
Thanks for the response.

Both of the above mentioned licences are installed, but still the bitstream generation is failing.
![image](https://user-images.githubusercontent.com/38071757/187178378-b8469e9f-c058-496c-8777-0f5911b257d4.png)

[2022-08-29 15:09] OTremois commented on #292
Hi, I am Olivier from AMD AECG. Can you share the tutorial you used?
Thanks
Olivier

[2022-08-29 15:13] CoffeeCat3008871 commented on #292
Hi, Olivier, thank you for your help. I used this tutorial as a base framework.
https://github.com/Xilinx/Vitis-Tutorials/tree/2022.1/AI_Engine_Development/Design_Tutorials/08-n-body-simulator

The difference is that I did not use the technique of Explicit Packet Switching since in the simple adder example, there is only two input stream.

[2022-08-29 15:54] Rampagee commented on #281
Sorry for late response, hi, @anonymous1782, I run the sweep test and get following figure. Sure, you are right that the Y axis is FPGA throughput and the unit is Mega Bits. @randyh62 , could you help to give more explanations here?
<img width="827" alt="image" src="https://user-images.githubusercontent.com/10832063/187242075-95ef368c-1b50-4441-a1c2-259beb5e43d7.png">

[2022-08-29 15:56] OTremois commented on #292
If you do not use packet switching mechanism then you are limited to 312 input streams (39 available columns x 8 streams (64 bits) per column, which is further re-arranged inside the AI Engine array into 50 available columns x 6 streams(300)), and 234 outputs (39 columns x 6 streams per column, coming from 50 columns x 4 streams (200) inside the array).
So you can implement a maximum of 150 simple

[2022-08-29 16:21] CoffeeCat3008871 commented on #292
That's very helpful. Thank you a lot!

[2022-08-29 16:21] #292 closed, assigned to nobody

[2022-08-30 05:44] Rampagee commented on #270
Hi, @arishsatheesan, when you apply for the evaluation license from the Xilinx licensing site, you should add both following items, like the snapshot below:
<img width="962" alt="image" src="https://user-images.githubusercontent.com/10832063/187358519-fc6309fd-552b-4f36-81b0-5560062dbb57.png">

After importing the generate license file, you should observe the license status in License Manager like

[2022-08-30 14:48] HankIC opened #296 "ZCU106 cannot boot from SD card(ZCU106-Vitis-Platform-Creation-step4-DPU-example)"
Hello, I follow the tutorials (https://github.com/Xilinx/Vitis-Tutorials/tree/2021.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104) and change board information from ZCU104 to ZCU106 in step1 and step2 and step3. However, when I test the platform in step4(test vadd), I cannot get correct output and don't know how to debug this problem. Could any friends give me some advice？ Thank you very

[2022-08-31 06:54] HankIC commented on #296
New update: I use official **ZCU104** [image](https://www.xilinx.com/member/forms/download/design-license-xef.html?filename=xilinx-zcu104-dpu-v2021.1-v1.4.0.img.gz) and boot it in **ZCU106**. I get the same output. Maybe some unknown configurations other than board name and information should be changed in scripts.

I plan to follow the readme file step by step and update the result here
![error3]

[2022-09-01 07:23] HankIC commented on #296
In the step2, I find zcu106 dts is different from zcu104 according to [link](https://lore.kernel.org/all/CAHTX3dKFBiGpkK0XcWacArxA7KGxrYj_L1BpFyRzwmGP36e-sA@mail.gmail.com/T/#Z2e.:..:e29ef27a6a3bd52784b5e59f20d8b7f9b02a8e9d.1578396789.git.michal.simek::40xilinx.com:1arch:arm:dts:zynqmp-zcu106-revA.dts). I try to change it and update the result later

update: I change the system usr dts file
&sdhci

[2022-09-01 09:02] arishsatheesan commented on #270
I generated the license as suggested and imported it. Still did not work.

![image](https://user-images.githubusercontent.com/38071757/187875757-c90e525f-1ddb-4a35-85b0-58ba47c7bb9b.png)

Could you please run and check it once to confirm it?

Thanks!